// 이미지 팝업
html,
.photo-viewer-body { height:100%; }
.photo-viewer-body { position:relative; margin:0; background-color: #000; }

.photo-viewer { position: relative;overflow: hidden;display: table;table-layout: fixed;width: 100%;height: 100%;
  &__close { display: block;position:fixed; right:0; top:0; width:46px; height:46px; background-color: transparent; box-shadow: none; border:0; border-radius: 0;
    &:before, &:after { position: absolute;top: 0;left: 0;bottom: 0;right: 0;width: 19px;height: 0;margin: auto;border-top: 2px solid #fff;content: ''; }
    &:before { transform: rotate(45deg); }
    &:after { transform: rotate(-45deg); }
  }
  &__cell { display:table-cell; width:1%; vertical-align: middle; }
  &__img-wrap { padding:15px; background-color: #fff; }
  &__img { width:100%; }
}