<%
let gnb = locals.require('gnb.json')
var page = 'recruit'
let sub = '복리후생'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<div class="u-summary u-summary--center">
  <span class="inline-block">개인의 발전이</span>
  <span class="inline-block">회사의 발전이라 생각하고</span><br>
  <span class="inline-block"><span class="u-summary--font-bold u-summary--color-blue">최적의 근무환경을 제공</span>하고자</span>
  <span class="inline-block">노력하고 있습니다.</span>
</div>

<div class="welfare">
  <div class="welfare__item welfare__item--nth-1">
    <div class="welfare__cell"><div class="welfare__item-circle"></div></div>
    <div class="welfare__cell">
      <div class="welfare__title u-title2">휴무·휴가제도</div>
      <div class="u-text2">주5일 근무, 연차휴가, 경조사휴가, 출산휴가, 육아휴직</div>
    </div>
  </div>
  <div class="welfare__item welfare__item--nth-2">
    <div class="welfare__cell"><div class="welfare__item-circle"></div></div>
    <div class="welfare__cell">
      <div class="welfare__title u-title2">보상제도</div>
      <div class="u-text2">장기근속 포상, 우수사원 포상, 경조금 지급</div>
    </div>
  </div>
  <div class="welfare__item welfare__item--nth-3">
    <div class="welfare__cell"><div class="welfare__item-circle"></div></div>
    <div class="welfare__cell">
      <div class="welfare__title u-title2">선물지급</div>
      <div class="u-text2">생일 상품권지급, 명절선물지급(구정, 추석)</div>
    </div>
  </div>
  <div class="welfare__item welfare__item--nth-4">
    <div class="welfare__cell"><div class="welfare__item-circle"></div></div>
    <div class="welfare__cell">
      <div class="welfare__title u-title2">생활편의제도</div>
      <div class="u-text2">석식제공(야근 시), 2년마다 종합건강검진, 상조서비스(보람상조)</div>
    </div>
  </div>
  <div class="welfare__item welfare__item--nth-5">
    <div class="welfare__cell"><div class="welfare__item-circle"></div></div>
    <div class="welfare__cell">
      <div class="welfare__title u-title2">온·오프라인 교육지원</div>
      <div class="u-text2">한국소프트웨어기술진흥협회 온·오프교육(협약사), 도서구입비 지원</div>
    </div>
  </div>
  <div class="welfare__item welfare__item--nth-6">
    <div class="welfare__cell"><div class="welfare__item-circle"></div></div>
    <div class="welfare__cell">
      <div class="welfare__title u-title2">여가생활지원</div>
      <div class="u-text2">연 2회 정기 워크샵, 회식비 지원</div>
    </div>
  </div>
</div>

