<%
let gnb = locals.require('gnb.json')
let base = locals.require('base.json')
var page = 'recruit'
let sub = '채용안내'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<div class="u-summary u-summary--center">서류전형과 1차, 2차 <br class="only-mobile">면접으로 채용이 이루어지며<br><span class="u-summary--font-bold u-summary--color-blue">신입·경력 모두 지원</span>하실 수 있습니다.</div>

<h2 class="u-title u-title--next">채용절차</h2>
<div class="recruitment-guide">
  <div class="recruitment-guide__item recruitment-guide__item--nth-1">
    <div class="recruitment-guide__item-circle"></div>
    <div class="recruitment-guide__text">
      <div class="recruitment-guide__title u-title2">서류전형</div>
      <div class="u-text2">입사지원 서류를 근거로<br>1차 합격자 개별통보</div>
    </div>
  </div>
  <div class="recruitment-guide__item recruitment-guide__item--nth-2">
    <div class="recruitment-guide__item-circle"></div>
    <div class="recruitment-guide__text">
      <div class="recruitment-guide__title u-title2">1차면접</div>
      <div class="u-text2">서류전형 합격자에 한해<br>1차 실무진 면접</div>
    </div>
  </div>
  <div class="recruitment-guide__item recruitment-guide__item--nth-3">
    <div class="recruitment-guide__item-circle"></div>
    <div class="recruitment-guide__text">
      <div class="recruitment-guide__title u-title2">2차면접</div>
      <div class="u-text2">1차 면접합격자에 한해<br>2차 임원진 면접</div>
    </div>
  </div>
  <div class="recruitment-guide__item recruitment-guide__item--nth-4">
    <div class="recruitment-guide__item-circle"></div>
    <div class="recruitment-guide__text">
      <div class="recruitment-guide__title u-title2">최종합격자</div>
      <div class="u-text2">최종합격자 선정 및<br>개별합격통지</div>
    </div>
  </div>
</div>

<h2 class="u-title u-title--next u-title--table-title">채용분야</h2>
<div class="u-table-row u-table-row--mobile-col">
  <div class="u-table-row__thead u-table-row__mobile-hide">
    <div class="u-table-row__row">
      <div class="u-table-row__th">사업부문</div>
      <div class="u-table-row__th">모집부문</div>
      <div class="u-table-row__th">자격요건</div>
      <div class="u-table-row__th">모집인원</div>
    </div>
  </div>
  <div class="u-table-row__tbody">
    <div class="u-table-row__td u-table-row__vertical-top u-table-row__mobile-row">
      <div class="u-table-row__mobile-th u-table-row__mobile-show">사업부문</div>
      <div class="u-table-row__mobile-td">국내</div>
    </div>
    <div class="u-table-row__td u-table-row__vertical-top u-table-row__mobile-row">
      <div class="u-table-row__mobile-th u-table-row__mobile-show">모집부문</div>
      <div class="u-table-row__mobile-td">Java, EJB 개발자 (정규직 신입/경력)</div>
    </div>
    <div class="u-table-row__td u-table-row__vertical-top u-table-row__mobile-row">
      <div class="u-table-row__mobile-th u-table-row__mobile-show">자격요건</div>
      <div class="u-table-row__mobile-td u-table-row__text-left">
        · 컴퓨터관련 전공자<br>
        · 초대졸이상 졸업자<br>
        · 금융업무·보험업무 개발경험자 우대<br>
        · 공공SI·일반SI 개발경험자 우대<br>
        · IT관련 자격증 소지자 우대
      </div>
    </div>
    <div class="u-table-row__td u-table-row__vertical-top u-table-row__mobile-row">
      <div class="u-table-row__mobile-th u-table-row__mobile-show">모집인원</div>
      <div class="u-table-row__mobile-td">00명</div>
    </div>
  </div>
</div>

<div class="u-wrap">
  <div class="u-wrap__item u-wrap__item--mobile-full">
    <h2 class="u-title u-title--next u-title--table-title">제출방법</h2>
    <p class="u-text u-text--dot">하단의 입사지원서 다운로드 후 작성합니다.</p>
    <p class="u-text u-text--dot"><a href="mailto:<%- base.mail %>" class="u-text__link"><%- base.mail %></a> 으로 파일첨부 전송하거나<br>서울시 강남구 선릉로 574, 301호 아데나소프트㈜로 우편 발송해 주세요.</p>
  </div>
  <div class="u-wrap__item u-wrap__item--mobile-full">
    <h2 class="u-title u-title--next u-title--table-title">채용문의</h2>
    <p class="u-text u-text--dot">전화번호 : <a href="tel:<%- base.tel %>" class="u-text__link"><%- base.tel %></a></p>
    <p class="u-text u-text--dot">E-mail : <a href="mailto:<%- base.mail %>" class="u-text__link"><%- base.mail %></a></p>
  </div>
</div>

<div class="u-btn-wrap">
  <a href="" class="u-btn u-btn--download">입사지원서 다운로드</a>
</div>

