<%
let gnb = locals.require('gnb.json')
var page = 'recruit'
let sub = '인재상'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<div class="u-summary u-summary--center">
  <span class="inline-block">최고의 인재가 되기 위해</span>
  <span class="inline-block">끊임없이 노력하는,</span><br><span class="u-summary--font-bold u-summary--color-blue">새로운 시대를 열어갈 당당한 당신</span>을 기다립니다.
</div>
<div class="recruit-summary">
  <span class="inline-block">다양한 사고와 열정을 지닌 이 시대</span>
  <span class="inline-block">대한민국 인재들의 행복한 일터,</span><br>
  <span class="inline-block">아데나소프트㈜가 당신과 함께</span>
  <span class="inline-block">앞장서겠습니다.</span>
</div>

<div class="talent">
  <ul class="talent__list">
    <li class="talent__item talent__item--nth-1">
      <div class="u-title2">창의성</div>
      <div class="u-text2">새로운 변화에 적응하면서<br class="only-mobile"> 창조적인<br class="only-desktop">발상을 통해서<br class="only-mobile"> 유연한 사고를 가진 인재</div>
    </li>
    <li class="talent__item talent__item--nth-2">
      <div class="u-title2">도전정신</div>
      <div class="u-text2">실패를 두려워하지 않고<br>스스로 극복하는 인재</div>
    </li>
    <li class="talent__item talent__item--nth-3">
      <div class="u-title2">자기개발</div>
      <div class="u-text2">자신의 분야에서<br class="only-mobile"> 업무지식과<br class="only-desktop">역량을<br class="only-mobile"> 갖추고자 노력하는 인재</div>
    </li>
    <li class="talent__item talent__item--nth-4">
      <div class="u-title2">팀워크</div>
      <div class="u-text2">공동체 의식을 바탕으로<br>동료를 배려하고 아끼는 인재</div>
    </li>
  </ul>
</div>

