<div class="main-business-list">
  <div class="main-business-list__item js-view js-view--fade-in-up js-view--delay-1">
    <i class="icon-business icon-business--nth-1"></i>
    <h3 class="main-business-list__tit">Consulting</h3>
    <p class="main-business-list__summary">
      <span class="inline-block">고객의</span>
      <span class="inline-block">비즈니스 환경에 적합한</span>
      <span class="inline-block">최적의 IT 컨설팅 서비스를</span>
      <span class="inline-block">제공합니다.</span>
    </p>
  </div>
  <div class="main-business-list__item js-view js-view--fade-in-up js-view--delay-2">
    <i class="icon-business icon-business--nth-2"></i>
    <h3 class="main-business-list__tit">System 구축</h3>
    <p class="main-business-list__summary">
      <span class="inline-block">애플리케이션 개발,</span>
      <span class="inline-block">IT 자원 통합 구축 서비스를</span>
      <span class="inline-block">제공합니다.</span>
    </p>
  </div>
  <div class="main-business-list__item js-view js-view--fade-in-up js-view--delay-3">
    <i class="icon-business icon-business--nth-3"></i>
    <h3 class="main-business-list__tit">Infra 구축</h3>
    <p class="main-business-list__summary">
      <span class="inline-block">분석, 진단, 기획, 설계하여</span>
      <span class="inline-block">최적의 인프라 구축 서비스를</span>
      <span class="inline-block">제공합니다.</span>
    </p>
  </div>
  <div class="main-business-list__item js-view js-view--fade-in-up js-view--delay-4">
    <i class="icon-business icon-business--nth-4"></i>
    <h3 class="main-business-list__tit">IT 아웃소싱</h3>
    <p class="main-business-list__summary">
      <span class="inline-block">개발에서부터</span>
      <span class="inline-block">신속한 조치를 지원하는</span>
      <span class="inline-block">운영까지 모든 인력을</span>
      <span class="inline-block">지원합니다.</span>
    </p>
  </div>
</div>
<!-- //main-business-list -->