<div class="main-mini-slide js-main-mini-slide js-view js-view--fade-in js-view--delay-1">
  <div class="main-mini-slide__item js-main-mini-slide-item">
    <h3 class="main-section__tit2 main-section__tit2--next">SIFP 2017</h3>
    <p class="main-section__para2 main-section__para2--next">
      <span class="inline-block">아데나 플랫폼은</span>
      <span class="inline-block">시스템구축 및 LifeCycle 관리 개발을 위해</span><br>
      <span class="inline-block">필요한 기본기능 및 Base Architecture를</span>
      <span class="inline-block">Module화하여 제공 함으로써</span><br>
      <span class="inline-block">효율적인 Application 구축을 지원합니다.</span>
    </p>
    <div class="main-section__btn-group main-section__btn-group--next">
      <a href="../solution/solution_01.html" role="button" class="main-section__btn">More View</a>
    </div>
  </div>
  <div class="main-mini-slide__item js-main-mini-slide-item">
    <h3 class="main-section__tit2 main-section__tit2--next">SW 원격배포 솔루션</h3>
    <p class="main-section__para2 main-section__para2--next">
      <span class="inline-block">SW 원격배포 시스템은</span>
      <span class="inline-block">기업의 소프트웨어 자산을</span>
      <span class="inline-block">효율적으로 관리할 수 있는</span><br>
      <span class="inline-block">체계적인 기능을 제공하며</span>
      <span class="inline-block">Compliance Risk를 최소화하고</span><br>
      <span class="inline-block">사용자 편의성을 향상시킵니다.</span>
    </p>
    <div class="main-section__btn-group main-section__btn-group--next">
      <a href="../solution/solution_02.html" role="button" class="main-section__btn">More View</a>
    </div>
  </div>
</div>
<!-- //main-mini-slide -->