<%
let item = locals.require('main-visual.json')
-%>
<div class="main-visual js-main-visual">
  <% item.forEach(function(item) { -%>
  <div class="main-visual__item js-main-visual-item">
    <div class="main-visual__inner" style="background-image:url(../../images/main/<%- item.background %>)">
      <div class="main-visual__headline"><%- item.headline %></div>
      <div class="main-visual__summary"><%- item.summary %></div>
      <a href="<%- item.link %>" role="button" class="main-visual__btn">More View</a>
    </div>
  </div>
  <% }) -%>
</div>
<!-- //main-visual -->