$mobile-size:668px;
$tablet-size:1024px;
$site-width:1180px;

$black-tit:#222;
$gray-body:#808080;
$gray:#888;
$blue:#1c5cb0;
$blue-active:#174c91;

$table-bg-gray: #f2f4f7;
$table-border-gray: #d6d6d6;

$light:300;
$regular:400;
$medium:500;
$bold:700;

$font-ko:'Noto Sans KR',sans-serif;
$font-en:'Open Sans','Noto Sans KR',sans-serif;