<%
let gnb = locals.require('gnb.json')
var page = 'business'
let sub = 'IT 아웃소싱'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<div class="business-summary">
  <span class="inline-block">다년간 축적된 경험을 통하여 </span><br class="only-desktop">
  <span class="inline-block">시스템의 S/W, Infra, Security, </span>
  <span class="inline-block">Backup까지 다양한 기술이 </span>
  <span class="inline-block">상호 유기적으로 연계되어 작동하는 </span><br class="only-desktop"> 
  <strong class="business-summary__highlight"><span class="inline-block">정보시스템 개발에서부터</span> <span class="inline-block">장애 발생에 대한 사전 점검 및</span> <span class="inline-block">신속한 조치를 지원하는 운영까지</span> </strong>
  <span class="inline-block">모든 인력을 지원합니다.</span>
</div>

<h2 class="u-title">서비스</h2>
<div class="outsourcing-service">
  <div class="outsourcing-service__item outsourcing-service__item--nth-1">
    <div class="outsourcing-service__cell outsourcing-service__mobile-block"><div class="outsourcing-service__item-circle"></div></div>
    <div class="outsourcing-service__cell outsourcing-service__mobile-block">
      <div class="outsourcing-service__title u-title2">IT Consulting</div>
      <div class="outsourcing-service__desc">고객사의 IT 추진계획에 대한 의사결정 및 전략 수립 지원</div>
      <div class="outsourcing-service__desc">효과적인 IT 아웃소싱 관리체계 수립</div>
      <div class="outsourcing-service__desc">IT 인프라 진단 컨설팅</div>
    </div>
  </div>
  <div class="outsourcing-service__item outsourcing-service__item--nth-2">
    <div class="outsourcing-service__cell outsourcing-service__mobile-block"><div class="outsourcing-service__item-circle"></div></div>
    <div class="outsourcing-service__cell outsourcing-service__mobile-block">
      <div class="outsourcing-service__title u-title2">Application</div>
      <div class="outsourcing-service__desc">고객의 Needs에 따른 IT 시스템 개발 및 Customizing</div>
      <div class="outsourcing-service__desc">As-is System의 효율적인 통합운영 지원</div>
      <div class="outsourcing-service__desc">표준 비즈니스 프로세스 제공 및 Total 솔루션 운영 지원</div>
    </div>
  </div>
  <div class="outsourcing-service__item outsourcing-service__item--nth-3">
    <div class="outsourcing-service__cell outsourcing-service__mobile-block"><div class="outsourcing-service__item-circle"></div></div>
    <div class="outsourcing-service__cell outsourcing-service__mobile-block">
      <div class="outsourcing-service__title u-title2">IT Infra</div>
      <div class="outsourcing-service__desc">하드웨어 및 최적의 인프라 구축 서비스를 제공</div>
      <div class="outsourcing-service__desc">고객 전산시스템 운영에 필요한 IT 플랫폼 및 IT 자원 <br class="only-desktop">제공·운영</div>
    </div>
  </div>
  <div class="outsourcing-service__item outsourcing-service__item--nth-4">
    <div class="outsourcing-service__cell outsourcing-service__mobile-block"><div class="outsourcing-service__item-circle"></div></div>
    <div class="outsourcing-service__cell outsourcing-service__mobile-block">
      <div class="outsourcing-service__title u-title2">Help Desk</div>
      <div class="outsourcing-service__desc">고객 요구사항 접수 창구 단일화 지원</div>
      <div class="outsourcing-service__desc">업무 외 시간 긴급 지원체계 확보 (24시간 365일 지원)</div>
    </div>
  </div>
</div>

<%- locals.widget('business/_performance-list.ejs', {item: sub}) %>