<%
let gnb = locals.require('gnb.json')
var page = 'business'
let sub = '사업실적'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<%- locals.widget('business/_performance-list2.ejs') %>