<%
let gnb = locals.require('gnb.json')
var page = 'business'
let sub = '시스템통합(SI)'
let tab = '시스템통합'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('tab',tab) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<%- locals.widget('_tab.ejs', {list: gnb[page].children[sub].children}) %>

<div class="business-summary">
  <span class="inline-block">공공기관 및 일반기업을 대상으로 </span>
  <span class="inline-block">다양한 프로젝트 구축사례를 통해 입증되어진 </span>
  <span class="inline-block">전문가 역량과 노하우로 고객이 필요로</span>
  <span class="inline-block">하는</span>
  <strong class="business-summary__highlight"><span class="inline-block">정보시스템에 대한 기획부터 </span><span class="inline-block">개발과 구축, 운영</span></strong>
  <span class="inline-block">까지의 모든 서비스를 제공하고 있습니다.</span>
</div>

<h2 class="u-title">서비스</h2>
<div class="system-service">
  <div class="system-service__item system-service__item--nth-1">
    <div class="system-service__item-circle"></div>
    <div class="system-service__text">
      <div class="system-service__title u-title2">Consulting</div>
      <div class="u-text2">자사의 고유 방법론을 바탕으로 고객의 비즈니스 <br class="only-desktop">환경에 적합한 최적의 IT컨설팅 서비스를 제공합니다.</div>
    </div>
  </div>
  <div class="system-service__item system-service__item--nth-2">
    <div class="system-service__item-circle"></div>
    <div class="system-service__text">
      <div class="system-service__title u-title2">System 구축</div>
      <div class="u-text2">고객의 비즈니스 환경과 Needs에 적합한 애플리케이션 <br class="only-desktop">개발, IT자원 통합 구축 서비스를 제공합니다.</div>
    </div>
  </div>
  <div class="system-service__item system-service__item--nth-3">
    <div class="system-service__item-circle"></div>
    <div class="system-service__text">
      <div class="system-service__title u-title2">Infra 구축</div>
      <div class="u-text2">인프라(H/W, N/W )를 분석, 진단, 기획, 설계하여 최적의 인프라 구축 서비스를 제공합니다.
      </div>
    </div>
  </div>
</div>

<h2 class="u-title u-title--next">사업분야</h2>
<div class="business-field">
  <div class="hidden-text">
    <h3>사업분야 대체텍스트</h3>
    <ul>
      <li>시스템통합(SI)</li>
      <li>
        <ul>
          <li>보험분야</li>
          <li>공공분야</li>
          <li>제조·교육·서비스</li>
        </ul>
      </li>
    </ul>
  </div>
</div>