<%
let gnb = locals.require('gnb.json')
var page = 'business'
let sub = '시스템통합(SI)'
let tab = '보험분야'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('tab',tab) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>
<% locals.block('footerScript','<script src="../../js/photo-viewer.js"></script>','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<%- locals.widget('_tab.ejs', {list: gnb[page].children[sub].children}) %>

<div class="business-summary">
  <span class="inline-block">손해보험 및 생명보험 분야 </span>
  <span class="inline-block">기간계, 채널계, 관리계 등 </span>
  <span class="inline-block">다양한 분야의 </span><br class="only-desktop">
  <strong class="business-summary__highlight">시스템을 개발하고 </strong>
  <strong class="business-summary__highlight">안정적 운영</strong>을 지원 합니다.
</div>

<div class="development-field">
  <div class="development-field__map u-zoom-box">
    <div class="hidden-text">
      <h2>시스템 개발 분야 목록 대체텍스트</h2>
      <ul>
        <li>전사포탈
          <ul>
            <li>Portal</li>
            <li>권한관리</li>
            <li>SSO</li>
          </ul>
        </li>
        <li>기간계
          <ul>
            <li>고객
              <ul>
                <li>개인고객관리</li>
                <li>법인고객관리</li>
                <li>고객관리</li>
              </ul>
            </li>
            <li>계약
              <ul>
                <li>신계약</li>
                <li>계약관리</li>
                <li>마감·통계</li>
                <li>재보험</li>
                <li>보험계약대출</li>
              </ul>
            </li>
            <li>보상
              <ul>
                <li>사고접수</li>
                <li>사고·손해관리</li>
                <li>보험금지급</li>
                <li>구상·소송</li>
                <li>고객안내</li>
              </ul>
            </li>
            <li>상품
              <ul>
                <li>상품관리</li>
                <li>상품 Factory</li>
                <li>상품검증</li>
                <li>상품모니터링</li>
              </ul>
            </li>
            <li>통합 입출금
              <ul>
                <li>입출금</li>
                <li>보험회계</li>
              </ul>
            </li>
            <li>U/W
              <ul>
                <li>심사업무</li>
                <li>심사지원</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>대외계
          <ul>
            <li>금융감독원</li>
            <li>보험개발원</li>
            <li>손보협회</li>
            <li>은행</li>
            <li>카드</li>
            <li>은행협회</li>
            <li>...(생략)</li>
            <li>신용평가</li>
          </ul>
        </li>
        <li>채널계
          <ul>
            <li>콜센터</li>
            <li>홈페이지</li>
            <li>사고조사</li>
            <li>통합보장분석</li>
            <li>보상PRM</li>
            <li>모바일영업</li>
            <li>...(생략)</li>
            <li>TM</li>
          </ul>
        </li>
        <li>관리계
          <ul>
            <li>ERP</li>
            <li>인사</li>
            <li>그룹웨어</li>
            <li>총무시스템</li>
            <li>광고·안내</li>
            <li>준법감시</li>
            <li>감사</li>
            <li>HRD</li>
            <li>자산관리</li>
            <li>ITSM</li>
            <li>ELS</li>
            <li>내부통제</li>
          </ul>
        </li>
        <li>정보계
          <ul>
            <li>종합통계</li>
            <li>EDW</li>
            <li>보상정보계</li>
          </ul>
        </li>
        <li>인프라
          <ul>
            <li>전자문서</li>
            <li>전자결제</li>
            <li>이미지</li>
            <li>E-Mail</li>
            <li>Net Fax</li>
            <li>SMS</li>
            <li>로그</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="field-tab-content field-tab-content--nth-1" id="field01">
      <img src="../../images/business/img-development-field01-desktop.jpg" alt="" class="development-field__img js-img">
      <div class="hidden-text">
        <h2>기간계 대체택스트</h2>
        <ul>
        <li>기간계
          <ul>
            <li>고객
              <ul>
                <li>개인고객관리</li>
                <li>법인고객관리</li>
                <li>고객관리</li>
              </ul>
            </li>
            <li>계약
              <ul>
                <li>신계약</li>
                <li>계약관리</li>
                <li>마감·통계</li>
                <li>재보험</li>
                <li>보험계약대출</li>
              </ul>
            </li>
            <li>보상
              <ul>
                <li>사고접수</li>
                <li>사고·손해관리</li>
                <li>보험금지급</li>
                <li>구상·소송</li>
                <li>고객안내</li>
              </ul>
            </li>
            <li>상품
              <ul>
                <li>상품관리</li>
                <li>상품 Factory</li>
                <li>상품검증</li>
                <li>상품모니터링</li>
              </ul>
            </li>
            <li>통합 입출금
              <ul>
                <li>입출금</li>
                <li>보험회계</li>
              </ul>
            </li>
            <li>U/W
              <ul>
                <li>심사업무</li>
                <li>심사지원</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      </div>
    </div>
    <div class="field-tab-content field-tab-content--nth-2" id="field02">
      <img src="../../images/business/img-development-field02-desktop.jpg" alt="" class="development-field__img js-img">
      <div class="hidden-text">
        <h2>채널계 대체택스트</h2>
        <ul>
        <li>채널계
          <ul>
            <li>콜센터</li>
            <li>홈페이지</li>
            <li>사고조사</li>
            <li>통합보장분석</li>
            <li>보상PRM</li>
            <li>모바일영업</li>
            <li>...(생략)</li>
            <li>TM</li>
          </ul>
        </li>
      </ul>
      </div>
    </div>
    <div class="field-tab-content field-tab-content--nth-3" id="field03">
      <img src="../../images/business/img-development-field03-desktop.jpg" alt="" class="development-field__img js-img">
      <div class="hidden-text">
        <h2>관리계 대체택스트</h2>
        <ul>
          <li>관리계
              <ul>
                <li>ERP</li>
                <li>인사</li>
                <li>그룹웨어</li>
                <li>총무시스템</li>
                <li>광고·안내</li>
                <li>준법감시</li>
                <li>감사</li>
                <li>HRD</li>
                <li>자산관리</li>
                <li>ITSM</li>
                <li>ELS</li>
                <li>내부통제</li>
              </ul>
          </li>
        </ul>
      </div>
    </div>
    <a href="#none" onclick="openPhoto('.is-show .js-img');" class="u-zoom-box__link"></a>
  </div>
  <ul class="field-tab" data-ui-tab="true">
    <li class="field-tab__item is-on">
      <a href="#field01" class="field-tab__link">
        <span class="field-tab__text">
          <strong class="field-tab__title"> 기간계</strong>
          신계약, 계약관리, 입출금, <br>보상(자동차·장기·일반)
        </span>
      </a>
    </li>
    <li class="field-tab__item">
      <a href="#field02" class="field-tab__link">
        <span class="field-tab__text">
          <strong class="field-tab__title"> 채널계</strong>
          홈페이지, 콜센터 시스템, <br>다이렉트 홈페이지
        </span>
      </a>
    </li>
    <li class="field-tab__item">
      <a href="#field03" class="field-tab__link">
        <span class="field-tab__text">
          <strong class="field-tab__title"> 관리계</strong>
          통합보장분석, 감사시스템, <br>총무시스템, S/W 원격배포, ITSM
        </span>
      </a>
    </li>
  </ul>
</div>
<%- locals.widget('business/_performance-list.ejs', {item: tab}) %>
