<%
let gnb = locals.require('gnb.json')
var page = 'business'
let sub = '시스템통합(SI)'
let tab = '공공분야'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('tab',tab) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<%- locals.widget('_tab.ejs', {list: gnb[page].children[sub].children}) %>

<div class="business-summary">
  <span class="inline-block">정부기관을 대상으로 </span>
  <strong class="business-summary__highlight">정보시스템에 대한 기획부터 <br class="only-mobile">개발과 구축 그리고 운영</strong>까지<br class="only-desktop"> 모든 서비스를
  <span class="inline-block">제공하여 빠르고 정확한 대국민 서비스를 할 수 </span>
  <span class="inline-block">있도록 지원 하고 있습니다.</span>
</div>

<div class="public-si">
  <div class="public-si__item public-si__item--nth-1">
    <div class="public-si__item-circle"></div>
    <div class="public-si__title u-title2">정보화 계획 및 구축</div>
  </div>
  <div class="public-si__item public-si__item--nth-2">
    <div class="public-si__item-circle"></div>
    <div class="public-si__title u-title2">솔루션 선정과 납품</div>
  </div>
  <div class="public-si__item public-si__item--nth-3">
    <div class="public-si__item-circle"></div>
    <div class="public-si__title u-title2">응용시스템 개발과 운영</div>
  </div>
  <div class="public-si__item public-si__item--nth-4">
    <div class="public-si__item-circle"></div>
    <div class="public-si__title u-title2">정보 인프라 구축 및 진단</div>
  </div>
</div>

<h2 class="u-title u-title--next">사업분야</h2>
<ul class="u-list">
  <li class="u-list__item"><div class="u-list__text">포탈시스템</div></li>
  <li class="u-list__item"><div class="u-list__text">성과관리시스템</div></li>
  <li class="u-list__item"><div class="u-list__text">도서관리시스템</div></li>
  <li class="u-list__item"><div class="u-list__text">Interface 시스템</div></li>
  <li class="u-list__item"><div class="u-list__text">통합경영정보</div></li>
  <li class="u-list__item"><div class="u-list__text">숙소예약관리</div></li>
  <li class="u-list__item"><div class="u-list__text">특수교육지원</div></li>
</ul>

<%- locals.widget('business/_performance-list.ejs', {item: tab}) %>