<%
let gnb = locals.require('gnb.json')
var page = 'business'
let sub = '시스템통합(SI)'
let tab = '제조·서비스'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('tab',tab) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<%- locals.widget('_tab.ejs', {list: gnb[page].children[sub].children}) %>

<div class="business-summary">
  <span class="inline-block">제조·서비스 산업 분야의 </span>
  <strong class="business-summary__highlight">컨설턴트 및 최적의 <br class="only-mobile">솔루션을 확보</strong>하여<br class="only-desktop">고객의 기업경쟁력 확보를
  <span class="inline-block">지원합니다.</span>
</div>

<h2 class="u-title u-title--next">사업분야</h2>
<ul class="u-list">
  <li class="u-list__item"><div class="u-list__text">전사적자원관리<br class="only-mobile">(ERP)</div></li>
  <li class="u-list__item"><div class="u-list__text">구매발주시스템<br class="only-mobile">(PIS)</div></li>
  <li class="u-list__item"><div class="u-list__text">공급망관리<br class="only-mobile">(SCM)</div></li>
  <li class="u-list__item"><div class="u-list__text">제조실행시스템<br class="only-mobile">(MES)</div></li>
</ul>

<%- locals.widget('business/_performance-list.ejs', {item: tab}) %>