// 회사소개
.company-introduction { display:table; table-layout: fixed;
  &__row { display:table-row; }
  &__cell { display:table-cell; vertical-align: top; box-sizing: border-box;
    &--text-wrap { padding-left:40px; vertical-align: middle; }
  }
  &__img-wrap { width:580px; font-size: 0; }
  &__img { max-width:100%; }
  &__summary { margin:26px 0; }
  @media (max-width:$tablet-size){
    &__row { display:block; }
    &__cell { display:block;
      &--text-wrap { padding-left:0; margin-top:16px; }
    }
    &__img-wrap { width:100%; }
    &__img { width:100%; }
    &__summary { margin:12px 0; }
  }
}

.aboutus-table {
  &__th { width:180px; }
  &__link { text-decoration: none; color:$gray-body; }
  @media (max-width:$tablet-size){
    &__th { width:90px; }
  }
}

// 회사연혁
.company-history {
  $this:&;
  &__list { margin:0; padding:0; list-style: none; }
  &__item { position:relative; box-sizing: border-box; width:50%; padding-bottom:50px;
    &:first-child { margin-top:-7px; }
    &:before { content:''; z-index:1; display:inline-block; width:20px; height:20px; position:absolute; top:7px; border:3px solid $blue; box-sizing: border-box; border-radius: 20px; background-color: #fff;}
    &:after { content:''; z-index:-1; display:inline-block; width:0; height:100%; position:absolute; left:0; top:7px; bottom:-7px; border-left:1px solid $table-border-gray; box-sizing: border-box; }
    &--left { padding-right:30px; clear:both; text-align: right; }
    &--right { float:right; padding-left:30px; }
    &--left:after { left:auto; right:-1px; }
    &--left:before { right:-10px; }
    &--right:before { left:-10px; }
    &--start { padding-bottom:0;
      &:after { display:none; }
    }
  }
  &__year { margin:0 0 7px; font-size:24px; font-weight: $medium; color:$black-tit; }
  &__img { width:100%; display:block; margin-top:15px; box-sizing: border-box; border:1px solid #d6d6d6; }
  @media (max-width:$tablet-size){
    &__item { width:100%; padding-bottom:40px;
      &:first-child { margin-top:-4px; }
      &:before { width:10px; height:10px; top:5px; border-radius: 10px; border-width:2px; }
      &--left { padding-left:20px; padding-right:0; text-align: left; }
      &--right { padding-left:20px; float:none; }
      &--left:after { left:0; right:auto; }
      &--left:before { right:auto; left:-5px; }
      &--right:before { left:-5px; }
    }
    &__year { font-size:18px; }
    &__img { margin-top:10px; }
  }
}

// 회사연혁
.organization-chart { height:590px; background-image: url("../images/aboutus/organization-chart-desktop.jpg");
  @media (max-width:$tablet-size){
    width:290px; height:611px; margin:0 auto; background-image: url("../images/aboutus/organization-chart-mobile.png"); background-size: 100% auto; background-repeat: no-repeat;
  }
}

// 오시는길
.directions {
  &__map-wrap { position:relative; background-color: #ddd; color:#fff; text-align: center; }
  &__map { width:100%; height:inherit; }
  &__info-wrap { padding:38px 25px 20px; overflow:hidden; box-sizing: border-box; border:1px solid #dbdbdb; }
  &__item { float:left; position:relative; margin-right:45px; padding-left:25px; font-size:16px; color:$gray-body;
    &:before { content:''; display:inline-block; width:20px; height:20px; position:absolute;left:0;top:0; background-image: url("../images/icon/icon-directions-sp.png"); background-size:160px 60px;  }
    @for $i from 0 through 3 {
      &--nth-#{$i+1}:before { background-position: -($i*20px) -40px; }
    }
  }
  &__title { color:$black-tit; }
  &__desc { margin-top:2px; font-size:14px; }
  &__link { text-decoration: none; color:$gray-body; }
  @media (max-width:$tablet-size){
    &__map-wrap { }
    &__map {  }
    &__info-wrap { padding:16px 15px; }
    &__item { float:none; margin-right:0; margin-top:7px; font-size:13px; line-height: 20px; word-break:keep-all;
      &:first-child { margin-top:0; }
      &:before { top:-1px; background-size:80px 30px;  }
      @for $i from 0 through 3 {
        &--nth-#{$i+1}:before { background-position: -($i*20px) 0; }
      }
    }
    &__desc { font-size:13px; }
  }
}

// 지도
.daum-map { width:100% !important;
  &.root_daum_roughmap .wrap_map { height:600px; }
  &.root_daum_roughmap .wrap_controllers { border-bottom:none; }
  @media (max-width:$tablet-size){
    &.root_daum_roughmap .wrap_map { height:103.4vw; }
  }
}

// 파트너사
.partners {
  &+& { margin-top:95px; }
  &__type-title { margin-bottom:16px; }
  &__list { margin:-20px 0 0 -20px; padding:0; overflow: hidden; list-style: none; }
  &__item { float:left; margin:20px 0 0 20px; width:280px; height:80px; position:relative;
    &:after { content:''; position:absolute; left: 0; top:0; right:0; bottom:0; border:1px solid #d6d6d6; }
  }
  &__img { display:block; width:100%; height:auto; }
  @media (max-width:$tablet-size){
    &+& { margin-top:36px; }
    &__type-title { margin-bottom:6px; }
    &__list { margin:-2% 0 0 -2%; }
    &__item { width:48%; height:auto; margin:2% 0 0 2%; }
  }
}