// 시스템통합(SI)
.business-summary { margin-top:52px; margin-bottom:97px; font-size:24px; line-height: 1.5; font-weight: $light; color:$black-tit; text-align: center;
  &__highlight { font-size:30px; font-weight: $medium; color:$blue; }
  @media (max-width:$tablet-size){
    margin-top:16px; margin-bottom:33px; font-size:14px;  font-weight: $regular;
    &__highlight { font-size:inherit; font-weight: $regular; }
  }
}

.performance-list { margin:0 -10px 0; padding:0; list-style: none; font-size: 0;
  &:before { content:''; display:block; margin-top:-32px; }
  &__item { display:inline-block; width:280px; margin:32px 10px 0; vertical-align: top; }
  &__img-wrap { width:100%; height:80px; position:relative;
    &:after { content:''; position:absolute; left: 0; top:0; right:0; bottom:0; border:1px solid #d6d6d6; }
  }
  &__img { display:block; width:100%; height:auto; }
  @media (max-width:$tablet-size){ margin:0 -5px 0;
    &:before { margin-top:-10px; }
    &__item { width:50%; margin:10px 0 0; padding:0 5px; box-sizing: border-box; }
    &__img-wrap { height:auto; }
  }
}
.performance-detail { margin:12px 0 0 0; padding:0; list-style: none;
  &__item { display:table; font-size:16px; line-height: 1.875; color:$gray-body;
    &:before { display:table-cell; content:'·'; padding-right:5px; }
  }
  @media (max-width:$tablet-size){ margin-top:6px;
    &__item { font-size:12px; line-height: 1.7; letter-spacing: -.05em; }
  }
}

// > 시스템통합
.system-service { display:table; width:100%; margin:2em auto 0;
  $this: &;
  &__item { display: table-cell; width:1000px; text-align: center; }
  &__item-circle { content:''; width:160px; height:160px; display: inline-block; vertical-align: middle; box-sizing: border-box; border-width:8px; border-style: solid; border-color: #f5f5f5; border-radius: 160px;
    box-shadow: inset 0 0 1px #828282; text-align: center;
    &:before { content:''; display:inline-block; width:90px; height:100%; background-image: url("../images/business/business-icon-sp.png"); background-repeat: no-repeat; background-position: 0 50%;
      @for $i from 0 through 3 {
        #{$this}__item--nth-#{$i+1} & { background-position: -(90px * $i) 50%; }
      }
    }
  }
  &__text { margin-top:26px; text-align: center; }
  @media (max-width:$tablet-size){ margin-top:17px;
    &__item { display:block; width:100%;
      &+& { margin-top:35px; }
    }
    &__item-circle { width:80px; height:80px; border-width:4px;
      &:before { width:45px; background-size: 135px 45px;
        @for $i from 0 through 3 {
          #{$this}__item--nth-#{$i+1} & { background-position: -(45px * $i) 50%; }
        }
      }
    }
    &__title { font-size:15px; }
    &__text { margin-top:10px; }
  }
}

.business-field { margin-top:28px; height:431px; background-image: url("../images/business/img-business-field-desktop.jpg"); background-repeat: no-repeat; background-position: 50% 0;
  @media (max-width:$tablet-size){ width:290px; height:179px; margin:17px auto 0;
    background-image: url("../images/business/img-business-field-mobile.jpg"); background-size: 100% auto;
  }
}

// > 보험분야
.development-field { position:relative; height:640px; margin-top:97px; padding-left:880px; box-sizing: border-box;
  &__map { position:absolute; left:0; top:0; width:880px; height:640px; }
  &__img { width:100%; }
  &__img-link { display:none; }
  @media (max-width:$tablet-size){
    height:auto; padding-left:0; margin-top:36px;
    &__map { position:relative; width:auto; height:auto; padding:0; }
    &__img-link { display:block; position:absolute; right:15px; bottom:15px; width:29px; height:29px; background-color: rgba(0,0,0,.5); background-image: url("../images/icon/icon-magnifier.png"); background-size: 19px 19px; background-position: 50% 50%; background-repeat: no-repeat; }
  }
}

.field-tab { width:300px; height:640px; margin:0 0 0; padding:0; list-style: none; box-sizing: border-box; border-width:1px 1px 1px 0; border-style: solid; border-color:#d6d6d6; counter-reset:field-tab;
  $this: &;
  &__item { width:100%; height:213px; box-sizing: border-box; border-top:1px solid #d6d6d6; counter-increment: field-tab; color:$gray-body;
    &:first-child { border-top:0; }
    &.is-on { background-color: $blue; color:#fff;
      #{$this}__title { color:inherit; }
    }
  }
  &__link { display:block; width:100%; height:inherit; color:inherit; text-decoration: none; }
  &__text { display:table-cell; height:inherit; padding-left:30px; vertical-align: middle; font-size:16px; line-height: 1.5; color:inherit; box-sizing: border-box; }
  &__title { display:table; position:relative; font-size:24px; font-weight: $medium; color:$black-tit; margin-bottom:0.2em;
    &:before { display:table-cell; content: counter(field-tab, decimal-leading-zero) ". "; padding-right:0.2em; font-size:30px; font-family: $font-en; visibility: hidden; color:transparent; }
    &:after { display:inline-block; content: counter(field-tab, decimal-leading-zero) ". "; font-size:30px; font-family: $font-en; position:absolute; left:0; top:0; }
  }
  @media (max-width:$tablet-size){
    width:auto; height:auto; margin:0 -15px; border-width:0 0 1px;
    &__item { height:auto; }
    &__text { padding:13px 15px 17px; font-size:13px; }
    &__title { font-size:15px;
      &:before { font-size:20px; }
      &:after { font-size:20px; }
    }
  }
}
.field-tab-content { display:none; position:absolute; top:0;
  &.is-show { display:block; }
  &.is-hide { display:none; }
  @media (max-width:$tablet-size){ width:100%; position:static; }
}

// > 공공분야
.public-si { display:table; width:100%; margin:0 auto;
  $this: &;
  &__item { display: table-cell; width:1000px; text-align: center; }
  &__item-circle { content:''; width:160px; height:160px; display: inline-block; vertical-align: middle; box-sizing: border-box; border-width:8px; border-style: solid; border-color: #f5f5f5; border-radius: 160px;
    box-shadow: inset 0 0 1px #828282; text-align: center;
    &:before { content:''; display:inline-block; width:90px; height:100%; background-image: url("../images/business/business-icon-sp2.png"); background-repeat: no-repeat; background-position: 0 50%;
      @for $i from 0 through 3 {
        #{$this}__item--nth-#{$i+1} & { background-position: -(90px * $i) 50%; }
      }
    }
  }
  &__title{ margin-top:1.4em; margin-bottom:0; text-align: center; }
  @media (max-width:$tablet-size){ font-size:0; max-width:380px;
    &:before { content:''; display:block; margin-top:-27px; }
    &__item { display:inline-block; width:50%; box-sizing: border-box; vertical-align: top; padding:0 5px; margin-top:27px; }
    &__item-circle { width:80px; height:80px; border-width:4px;
      &:before { width:45px; height:100%; background-size: 180px 45px;
        @for $i from 0 through 3 {
          #{$this}__item--nth-#{$i+1} & { background-position: -(45px * $i) 50%; }
        }
      }
    }
    &__title { font-size:14px; margin-top:7px; }
  }
}

// IT 아웃소싱
.outsourcing-service { font-size:0; margin-top:33px;
  $this: &;
  &:before { content:''; display:block; margin-top:-80px; }
  &__item { width:50%; display: inline-block; margin-top:80px }
  &__item-circle { content:''; width:160px; height:160px; margin-right:20px; display: inline-block; vertical-align: middle; box-sizing: border-box; border-width:8px; border-style: solid; border-color: #f5f5f5; border-radius: 100px;
    box-shadow: inset 0 0 1px #828282; text-align: center;
    &:before { content:''; display:inline-block; width:90px; height:100%; background-image: url("../images/business/business-icon-sp3.png"); background-repeat: no-repeat; background-position: 0 50%;
      @for $i from 0 through 3 {
        #{$this}__item--nth-#{$i+1} & { background-position: -(90px * $i) 50%; }
      }
    }
  }
  &__cell { display: table-cell; vertical-align: middle; width:1000px; box-sizing: border-box;
    &:first-child { width:1%; }
  }
  &__title { margin-bottom:0.2em; }
  &__desc { display:table; font-size:16px; line-height: 1.875; color:$gray-body;
    &:before { content:'·'; display:table-cell; padding-right:.3em; }
  }
  @media (max-width:$tablet-size){ margin-top:16px;
    &:before { margin-top:-36px; }
    &__item { width:100%; margin-top:36px }
    &__item-circle { width:80px; height:80px; margin-right:0; border-width:4px;
      &:before { width:45px; height:100%; background-size: 180px 45px;
        @for $i from 0 through 3 {
          #{$this}__item--nth-#{$i+1} & { background-position: -(45px * $i) 50%; }
        }
      }
    }
    &__mobile-block { display:block; width:100%; max-width:340px; margin:8px auto 0; text-align: center;
      &:first-child { width:100%; margin-top:0; }
    }
    &__title { font-size:15px; }
    &__desc { font-size:13px; line-height: 1.6; text-align: left; }
  }
}

// 사업실적
.performance-list2 {
  &__th-1 { width:180px; }
  &__th-3 { width:280px; }

  &__font-en { font-family:$font-en; }
  &__year { font-size:24px; font-weight:$medium; }
  &__title { padding-left:200px; padding-right:100px; }
  &__order { padding-left:90px; padding-right:80px; }
  @media (max-width:$tablet-size){
    &__th-1 { width:72px; }
    &__th-3 { width:auto; }

    &__font-en { font-size:12px; padding:12px 10px; }
    &__year { font-size:13px; }
    &__title { padding-left:10px; padding-right:10px; color:$black-tit;
      &:after { content:attr(data-order);display:block;color:$gray-body;margin-top:4px; }
    }

    &__mobile-th { white-space:nowrap; background-color: $table-bg-gray; }
  }
}