// 인재상
.recruit-summary { margin:46px 0 0; font-size:24px; line-height:36px; color:$gray-body; font-weight: $light; text-align: center;
  @media (max-width:$tablet-size){
    margin-top:13px; font-size:15px; line-height: 22px; word-break: keep-all; word-wrap: break-word;
  }
}

.talent { margin:92px 0 0; overflow: hidden;
  &__list { margin:0; padding:0; list-style:none; overflow: hidden; font-size:0; }
  &__item { display:inline-block; width:25%; text-align: center; font-size:16px; 
    &:before { content:''; display:inline-block; width:200px; height:200px; margin-bottom:25px; background-image: url("../images/recruit/talent-img-sp.png"); }
    @for $i from 0 through 3 {
      &--nth-#{$i+1}:before { background-position: -(200px * $i) 0; }
    }
  }
  @media (max-width:$tablet-size){
    max-width:380px; display:table; table-layout:fixed; width:100%; margin-top:0; margin-left:auto; margin-right:auto; 
    &__item { width:50%; vertical-align: top; padding:0 5px; margin-top:36px; box-sizing: border-box;
      &:before { width:100px; height:100px; margin-bottom:12px; background-size: 400px 100px; }
      @for $i from 0 through 3 {
        &--nth-#{$i+1}:before { background-position: -(100px * $i) 0; }
      }
    }
  }
}

// 복리후생
.welfare { overflow:hidden;
  $this: &;
  &__item { width:50%; float:left; margin-top:80px; display: table; }
  &__item-circle { content:''; width:100px; height:100px; margin-right:20px; display: inline-block; vertical-align: middle; box-sizing: border-box; border-width:5px; border-style: solid; border-color: #f5f5f5; border-radius: 100px;
    box-shadow: inset 0 0 1px #828282; text-align: center;
    &:before { content:''; display:inline-block; width:56px; height:100%; background-image: url("../images/recruit/welfare-icon-sp.png"); background-repeat: no-repeat; background-position: 0 50%;
      @for $i from 0 through 5 {
        #{$this}__item--nth-#{$i+1} & { background-position: -(56px * $i) 50%; }
      }
    }
  }
  &__cell { display: table-cell; vertical-align: middle; width:1000px; box-sizing: border-box;
    &:first-child { width:1%; }
  }
  @media (max-width:$tablet-size){
    &__item { width:100%; float:none; margin-top:20px;
      &:first-child { margin-top:40px; }
    }
    &__item-circle { width:65px; height:65px; margin-right:15px; border-width:3px;
      &:before { width:28px; height:100%; background-size: 168px 24px;
        @for $i from 0 through 5 {
          #{$this}__item--nth-#{$i+1} & { background-position: -(28px * $i) 50%; }
        }
      }
    }
    &__title { margin-bottom:3px; }
  }
}

// 채용안내
.recruitment-guide { display:table; width:100%; margin:2em auto 0;
  $this: &;
  &__item { display: table-cell; width:1000px; position:relative; text-align: center;
    &:after { content:''; display:inline-block; width:14px; height:14px; position: absolute; right: 0; top: 0; bottom: 0; margin: auto -14px auto 0; border-width:1px 1px 0 0; border-style: solid; border-color: $black-tit;
    transform: rotate(45deg); }
    &--nth-4:after { display:none; }
  }
  &__item-circle { content:''; width:160px; height:160px; display: inline-block; vertical-align: middle; box-sizing: border-box; border-width:8px; border-style: solid; border-color: #f5f5f5; border-radius: 160px;
    box-shadow: inset 0 0 1px #828282; text-align: center;
    &:before { content:''; display:inline-block; width:82px; height:100%; background-image: url("../images/recruit/recruit-icon-sp.png"); background-repeat: no-repeat; background-position: 0 50%;
      @for $i from 0 through 3 {
        #{$this}__item--nth-#{$i+1} & { background-position: -(82px * $i) 50%; }
      }
    }
  }
  &__text { margin-top:26px; text-align: center; }
  @media (max-width:$tablet-size){
    margin-top:16px; display:flex; flex-flow:row wrap;
    &__item { display:block; flex:1 1 auto; width:50%; padding:0 5px; box-sizing: border-box;
      &:after { width:7px; height:7px; bottom:7vw; margin-right:-3px; }
      &--nth-3 { order:4; }
      &--nth-4 { order:3; }
      &--nth-2:after { position:static; border-width:0 1px 1px 0; margin:7vw 0; }
      &--nth-3:after { left:0; right:auto; margin-right:0; margin-left:-3px; border-width:0 0 1px 1px; }
    }
    &__item-circle { width:80px; height:80px; border-width:4px;
      &:before { width:41px; background-size: 164px 41px;
        @for $i from 0 through 3 {
          #{$this}__item--nth-#{$i+1} & { background-position: -(41px * $i) 50%; }
        }
      }
    }
  }
}