// SIFP 2017
/*.solution-summary { margin-top:52px; margin-bottom:97px; font-size:24px; line-height: 1.5; font-weight: $light; color:$black-tit; text-align: center;
  &__highlight { font-size:30px; font-weight: $medium; color:$blue; }
  @media (max-width:$tablet-size){
    margin-top:16px; margin-bottom:33px; font-size:14px;  font-weight: $regular;
    &__highlight { font-size:inherit; font-weight: $regular; }
  }
}*/

.solution-section {
  &+& { margin-top:93px; }
  &__title { margin:0 0 1em; font-size:30px; line-height: 1.5; font-weight: $medium; color:$black-tit; }
  &__img-wrap { vertical-align: middle; }
  @media (max-width:$tablet-size){
    &+& { margin-top:45px; }
    &__title { margin-bottom:0.6em; font-size: 18px; }
  }
}

.solution-information { margin-top:16px;
  &__list { display:table; margin:0; line-height: 1.5;
    &:before { content:''; display:inline-block; width:18px; height:18px; margin-right:5px; margin-bottom:2px; vertical-align: middle; background-image: url("../images/icon/icon-info.png"); background-size: 18px 18px; background-repeat: no-repeat; }
  }
  &__title, &__desc { display: table-cell; vertical-align: middle; }
  &__title { font-size:18px; white-space: nowrap; }
  &__desc { margin:0; padding-left:5px; font-size:14px; color:$gray-body; font-weight: $regular; }
  @media (max-width:$tablet-size){ margin-top:5px;
    &__list {
      &:before { width:13px; height:13px; background-size: 13px 13px; }
    }
    &__title, &__desc { display:inline-block; }
    &__title { font-size:13px; }
    &__desc { clear:left; padding-left:0; font-size:12px; word-break: keep-all; word-wrap: break-word; }
  }
}

.solution-point { display:table; width:100%; margin:33px 0 0 0; padding:0 30px; list-style: none; box-sizing: border-box; background-image: url("../images/styles/u-list-bg.png"); background-repeat: no-repeat; background-position: 0 40px;
  counter-reset:solution-point;
  &:after { display:inline-block; width:100%; content:''; }
  &__item { display:table-cell; width:1000px; position:relative; min-width:90px; padding-top:110px; text-align: center; font-size:18px; color:$black-tit; counter-increment: solution-point;
    &:before { z-index:1; display:inline-block; width:60px; height:60px; position:absolute; left:0; top:0; right:0; margin:auto; background-color: $blue; font-size:24px; font-family: $font-en; font-weight: 500;
      content: counter(solution-point, decimal-leading-zero); border-radius: 60px; color:#fff; line-height: 60px; border:15px solid #fff; }
    &:after { z-index:2; display:inline-block; width:90px; height:90px; box-sizing: border-box; position:absolute; left:0; top:0; right:0; margin:auto; background-color: transparent;
      content:''; border:1px solid #dcdcdc; border-radius: 90px; }
  }
  &__text { display:inline-block; color:$gray-body; }
  @media (max-width:$tablet-size){
   /*max-width:380px;*/ margin:16px auto 0; padding:0; background-image: none; font-size:0;
    &:before { content:''; display:block; margin-top:-15px; }
    &__item { display:table; position:relative; width:100%; height: 30px; box-sizing: border-box; padding:0 5px 0 40px; margin-top:15px; text-align: left; font-size:14px; vertical-align: middle;
      &:before { width:30px; height:30px; margin-right:10px; right:auto; bottom:0; border:0; text-align: center; font-size:15px; line-height: 30px; }
      &:after { display:none; }
    }
    &__text { display:table-cell; height:inherit; vertical-align: middle; }
  }
}

.solution-after { margin-top:94px;
  &__item--next { position:relative; padding-left:120px;
    &:before { content:''; width:28px; height:28px; display:block; position:absolute; left:-14px; bottom:30px; border-width:2px 2px 0 0; border-style: solid; border-color:$blue; transform:rotate(45deg); }
  }
  &__title { margin:0 0 0.41em; font-size:24px; font-weight: $medium;
    &--color-blue { color:$blue; }
  }
  &__text { display:table; position:relative; margin:0; font-size:16px; line-height: 1.875; color:$gray-body;
    &:before { content:'·'; display: table-cell; padding-right:5px; visibility: hidden; color:transparent; }
    &:after { content:''; display: inline-block; width:3px; height:3px; position:absolute; left:0; top:15px; background-color: $gray-body; }
  }
  @media (max-width:$tablet-size){ max-width:270px; margin:45px 0 0;
    &__item--next { padding-left:0; padding-top:44px;
      &:before { width:14px; height:14px; bottom:auto; top:10px; left:50%; margin-left:-10px; border-width:0 1px 1px 0; }
    }
    &__title { font-size:15px; }
    &__text { font-size:13px; line-height: 1.538;
      &:after { width:2px; height:2px; top:8px; }
    }
  }
}

// SW 원격배포 솔루션
.solution-summary { margin:0.5em 0 0; font-size:18px; line-height: 1.333; color:$black-tit; font-weight: $regular; word-break: keep-all; word-wrap: break-word;
  &__highlight { color:$blue; }
  @media (max-width:$tablet-size){ font-size:14px; }
}

.sw-summary { font-size:0; margin-top:33px;
  $this: &;
  &:before { content:''; display:block; margin-top:-60px; }
  &__item { width:50%; display: inline-block; margin-top:60px }
  &__item-circle { content:''; width:160px; height:160px; margin-right:20px; display: inline-block; vertical-align: top; box-sizing: border-box; border-width:8px; border-style: solid; border-color: #f5f5f5; border-radius: 100px;
    box-shadow: inset 0 0 1px #828282; text-align: center;
    &:before { content:''; display:inline-block; width:86px; height:100%; background-image: url("../images/solution/solution-icon-sp.png"); background-repeat: no-repeat; background-position: 0 50%;
      @for $i from 0 through 3 {
        #{$this}__item--nth-#{$i+1} & { background-position: -(86px * $i) 50%; }
      }
    }
  }
  &__cell { display: table-cell; vertical-align: top; width:1000px; box-sizing: border-box;
    &:first-child { width:1%; }
  }
  &__title { margin-top:0.66em; margin-bottom:0.46em; }
  &__desc { display:table; font-size:16px; line-height: 1.5; color:$gray-body;
    &:before { content:'·'; display:table-cell; padding-right:.3em; }
  }
  @media (max-width:$tablet-size){
    &:before { margin-top:-30px; }
    &__item { width:100%; margin-top:30px }
    &__item-circle { width:80px; height:80px; margin-right:15px; border-width:4px; vertical-align: middle;
      &:before { width:43px; height:100%; background-size: 172px 43px;
        @for $i from 0 through 3 {
          #{$this}__item--nth-#{$i+1} & { background-position: -(43px * $i) 50%; }
        }
      }
    }
    &__cell { vertical-align: middle; }
    &__title { margin-top:0; font-size:15px; }
    &__desc { font-size:13px; line-height: 1.5; text-align: left; }
  }
}

.sw-component { display:table; table-layout: fixed; width:100%; margin:26px 0 0; padding:0; list-style: none; counter-reset:sw-component;
  &__item { display:table-cell; width:1%; counter-increment: sw-component; }
  &__title { position:relative; padding-top:1.5em; font-size:24px; line-height:1.25; font-weight: $medium; color:$black-tit;
    &:before { display:inline-block; z-index:-1; position:absolute; left:0; top:0; content: counter(sw-component, decimal-leading-zero); line-height: 1; font-family: 'Open Sans', sans-serif; font-weight: $bold; font-size:72px; color:#efefef; }
  }
  &__text-wrap { margin-top:.68em; }
  &__text { display:table; margin:0 0 0; font-size:16px; line-height:1.5; font-weight:$regular; color:$gray-body;
    &:before { content:'·'; display:table-cell; padding-left:.2em; padding-right:.3em; }
  }
  @media (max-width:$tablet-size){ margin-top:18px;
    &__item { display:block; width:auto;
      &+& { margin-top:23px; }
    }
    &__title { padding-top:1.3em; font-size:15px;
      &:before { font-size:41px; }
    }
    &__text-wrap { margin-top:.25em; }
    &__text { font-size:13px;
      &:before { padding-left:0; }
    }
  }
}

.sw-img-wrap { margin-top:33px;
  @media (max-width:$tablet-size){ margin-top:10px; }
}