// 사이트 전체에 사용되는 스타일 모음

// Word Wrap
.inline-block { display:inline-block; white-space:nowrap; }

// Pointer event
a[href^="tel"] { cursor: default; pointer-events: none;
  @media (max-width: $tablet-size){
    pointer-events: auto;
  }
}

.is-hide { display:none; }
.is-show { display:block; }
.hidden-text { @include hidden; }
.only-mobile { display:none; }
.text-uppercase { text-transform: uppercase; }
@media (max-width: $tablet-size){
  .only-desktop { display:none; }
  .only-mobile { display:block; }
}

// effect
.js-view { 
  &--fade-in { 
    &:not(:optional) { opacity:0; }
    &.is-view { animation-name:view-fade-in; animation-duration:1s; animation-timing-function:ease-out; animation-fill-mode: forwards; }
    @at-root {
      @keyframes view-fade-in { 
        0% { opacity:0; }
        100% { opacity:1; }
      }
    }
  }
  &--fade-in-up { 
    &:not(:optional) { opacity:0; }
    &.is-view { animation-name:view-fade-in-up; animation-duration:1s; animation-timing-function:ease-out; animation-fill-mode: forwards; }
    @at-root {
      @keyframes view-fade-in-up { 
        0% { opacity:0;transform:translateY(2em);}
        100% { opacity:1;transform:translateY(0); }
      }
    }
  }
  @for $i from 1 through 4 {
    &--delay-#{$i} { animation-delay:$i*0.2s; }
  }
}