<% let base = locals.entry.base || 'Default title'; %>
<div class="site-footer">
  <address class="footer-address">
    <div class="footer-address__item"><%- base.address %></div>
    <div class="footer-address__item footer-address__item--mobile-clear footer-address__item--mobile-inline-block"><span class="footer-address__highlight">Tel </span><a href="tel:<%- base.tel %>" class="footer-address__link"><%- base.tel %></a></div>
    <div class="footer-address__item footer-address__item--mobile-inline-block"><span class="footer-address__highlight">Fax </span><%- base.fax %></div>
    <div class="footer-address__item footer-address__item--mobile-clear"><span class="footer-address__highlight">E-mail </span><a href="mailto:<%- base.mail %>" class="footer-address__link"><%- base.mail %></a></div>
  </address>
  <div class="footer-logo"><a href="../../main/main.html" class="footer-logo__link"><img class="footer-logo__img" src="../../images/layout/footer-logo.png" alt=""></a></div>
  <div class="footer-copyright"><%- base.copyright %></div>
</div>
<!-- //site-footer -->