<% let gnb = locals.require('gnb.json') -%>
<ul class="site-gnb__list">
  <%
  for (var depth1 in gnb) {
  if (gnb[depth1].hasOwnProperty('view')) {
    var pageLocation = (depth1 == locals.blocks.page) ? 'active' : ''
    var children = gnb[depth1].children;
    var subLink = (children[Object.keys(children)[0]].link == '') ? children[Object.keys(children)[0]].children[Object.keys(children[Object.keys(children)[0]].children)[0]].link : children[Object.keys(children)[0]].link
    var link = (gnb[depth1].link == '') ? subLink : gnb[depth1].link
  -%>
  <li class="site-gnb__item <%- pageLocation %>">
    <a href="../<%- depth1%>/<%- link %>.html" class="site-gnb__link"><%- gnb[depth1].title.en %></a>
    <ul class="site-gnb__list2">
      <%
      for (var depth2 in children) {
      if (children[depth2].hasOwnProperty('view')) {
      var subLocation = (depth2 == locals.blocks.sub) ? 'active' : ''
      var link2 = (children[depth2].link == '') ? children[depth2].children[Object.keys(children[depth2].children)[0]].link : children[depth2].link
      -%>
      <li class="site-gnb__item2 <%- subLocation %>"><a href="../<%- depth1%>/<%- link2 %>.html" class="site-gnb__link2"><%- depth2 %></a></li>
      <%
      } //end if
      } // end for
      -%>
    </ul>
  </li>
  <%
  } // end if
  } // end for
  -%>
</ul>
<div class="site-gnb__bg"></div>
<div class="site-gnb__dimmed"></div>