<% let base = locals.entry.base || 'Default title'; %>
<div class="site-header">
  <div class="mobile-header">
    <button type="button" class="mobile-button-open" disabled><span class="mobile-button-open__bread"></span>mobile menu open</button>
    <h1 class="top-logo">
      <a href="../main/main.html" class="top-logo__link"><img src="../../images/layout/top-logo.png" alt="<%- base.name %>" class="top-logo__img"></a>
    </h1>
  </div>
  <!-- //mobile-header -->
  <div class="mobile-menu">
    <ul class="util-menu">
      <li class="util-menu__item util-menu__item--desktop-hide"><a href="../main/main.html" class="util-menu__link">Home</a></li>
      <li class="util-menu__item"><a href="http://webmail.athenasoft.co.kr/" target="_blank" class="util-menu__link">Intranet</a></li>
    </ul>
    <!-- //util-menu -->
    <div class="site-gnb">
      <h2 class="site-gnb__tit">GNB</h2>
      <%- locals.widget('_gnb.ejs') %>
    </div>
    <!-- //site-gnb -->
    <button type="button" class="mobile-button-close" disabled>mobile menu close</button>
  </div>
  <!-- //mobile-menu -->
</div>
<!-- //site-header -->