<% let gnb = locals.require('gnb.json') -%>

<div class="u-page-header">
  <div class="u-page-visual" data-page="<%- gnb[locals.blocks.page].title.en %>"></div>
  <div class="u-page-location">
    <div class="u-page-location__wrap">
      <div class="u-page-location__item u-page-location__item--home">
        <a href="../main/main.html" class="u-page-location__link">메인</a>
      </div>
      <div class="u-page-location__item">
        <a href="#this" class="u-page-location__link"><%- gnb[locals.blocks.page].title.en %></a>
        <ul class="u-page-list u-page-list--depth1">
          <%
          for (var depth1 in gnb) {
          if (gnb[depth1].hasOwnProperty('view')) {
            var pageLocation = (depth1 == locals.blocks.page) ? 'active' : ''
            var children = gnb[depth1].children;
            var subLink = (children[Object.keys(children)[0]].link == '') ? children[Object.keys(children)[0]].children[Object.keys(children[Object.keys(children)[0]].children)[0]].link : children[Object.keys(children)[0]].link
            var link = (gnb[depth1].link == '') ? subLink : gnb[depth1].link
          -%>
          <li class="u-page-list__item <%- pageLocation %>"><a href="../<%- depth1%>/<%- link %>.html" class="u-page-list__link"><%- gnb[depth1].title.en %></a></li>
          <%
          } // end if
          } // end for
          -%>
        </ul>
      </div>
      <div class="u-page-location__item">
        <a href="#this" class="u-page-location__link"><%- locals.blocks.sub %></a>
        <ul class="u-page-list u-page-list--depth2">
          <%
          var children = gnb[locals.blocks.page].children;
          for (var depth2 in children) {
          if (children[depth2].hasOwnProperty('view')) {
          var subLocation = (depth2 == locals.blocks.sub) ? 'active' : ''
          var link2 = (children[depth2].link == '') ? children[depth2].children[Object.keys(children[depth2].children)[0]].link : children[depth2].link
          -%>
          <li class="u-page-list__item <%- subLocation %>"><a href="../<%- locals.blocks.page %>/<%- link2 %>.html" class="u-page-list__link"><%- depth2 %></a></li>
          <%
          } //end if
          } // end for
          -%>
        </ul>
      </div>
    </div>
  </div>
</div>
