<% let { list = {} } = locals.entry; -%>
<div class="u-tab2" data-drop-down="true">
  <div class="u-tab2__state js-state">
    <span class="u-tab2__state-name"><%- locals.blocks.tab %></span>
  </div>
  <ul class="u-tab2__list js-list">
    <%
    for (var depth3 in list) {
    if (list[depth3].hasOwnProperty('view')) {
    var subLocation = (depth3 == locals.blocks.tab) ? 'is-on' : ''
    -%>
    <li class="u-tab2__item <%- subLocation %>"><a href="<%- list[depth3].link %>.html" class="u-tab2__link"><%- depth3 %></a></li>
    <%
    } //end if
    } // end for
    -%>
  </ul>
</div>
<!-- //u-tab -->