<% 
  let base = locals.require('base.json')
  let gnb = locals.require('gnb.json')
  var page = 'main'
  let sub = ''
  let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/main.css">','append') %>
<% locals.block('footerScript','<script src="../../libs/jquery.fullPage/js/jquery.fullPage.js"></script>','append') %>
<% locals.block('footerScript','<script src="../../libs/bxslider/js/jquery.bxslider.min.js"></script>','append') %>
<% locals.block('footerScript','<script src="../../js/main.js"></script>','append') %>

<div class="js-section">
  <div class="main-section main-section--visual ">
    <%- locals.widget('main/_visual.ejs') %>
  </div>
  <!-- //main-section -->
</div>
<div class="js-section">
  <div class="main-section main-section--business main-section--type-white">
    <h2 class="main-section__tit js-view js-view--fade-in">Business</h2>
    <p class="main-section__para main-section__para--next js-view js-view--fade-in">
      <span class="inline-block">정보시스템에 대한 기획부터 개발과 구축,</span><br>
      <span class="inline-block">운영까지의 모든 서비스를 제공하고 있습니다.</span>
    </p>
    <%- locals.widget('main/_business.ejs') %>
    <div class="main-section__btn-group main-section__btn-group--next js-view js-view--fade-in js-view--delay-4">
      <a href="../business/business_0101.html" role="button" class="main-section__btn">More View</a>
    </div>
  </div>
  <!-- //main-section -->
</div>
<div class="js-section">
  <div class="main-section main-section--solution">
    <h2 class="main-section__tit js-view js-view--fade-in">Solution</h2>
    <p class="main-section__para main-section__para--next js-view js-view--fade-in">
      <span class="inline-block">솔루션 제공 및</span>
      <span class="inline-block">시스템 통합을 통해</span><br>
      <span class="inline-block">고객의 가치를 실현시켜주는</span>
      <span class="inline-block">전문 IT 개발 회사입니다.</span>
    </p>
    <%- locals.widget('main/_solution.ejs') %>
  </div>
  <!-- //main-section -->
</div>
<div class="js-section">
  <div class="main-section main-section--about-us">
    <h2 class="main-section__tit js-view js-view--fade-in">About Us</h2>
    <p class="main-section__para main-section__para--next js-view js-view--fade-in">
      <span class="inline-block">아데나소프트㈜는 정보분야 IT회사로서</span><br>
      <span class="inline-block">산업별 검증 된 인력과 기술력을 보유하고 있으며</span>
      <span class="inline-block">솔루션 제공 및 시스템 통합을 통해</span><br>
      <span class="inline-block">고객의 가치를 실현시켜주는</span>
      <span class="inline-block">전문 IT 개발 회사입니다.</span>
    </p>
    <div class="main-section__btn-group main-section__btn-group--next js-view js-view--fade-in js-view--delay-4">
      <a href="../business/business_03.html" role="button" class="main-section__btn">프로젝트수행이력</a>
      <a href="../recruit/recruit_03.html" role="button" class="main-section__btn">채용정보</a>
    </div>
  </div>
  <!-- //main-section -->
</div>
<div class="js-section">
  <div class="main-section main-section--contact-us">
    <h2 class="main-section__tit js-view js-view--fade-in">Contact Us</h2>
    <p class="main-section__para main-section__para--next js-view js-view--fade-in"><%- base.address %></p>
    <p class="main-section__para2 main-section__para2--next js-view js-view--fade-in-up js-view--delay-1">
      <span class="main-section__span">Tel &nbsp; <a href="tel:<%- base.tel %>" class="main-section__link"><%- base.tel %></a></span>
      <span class="main-section__span main-section__span--next">Fax &nbsp; <%- base.fax %></span>
      <span class="main-section__span main-section__span--next">E-mail &nbsp; <a href="mailto:<%- base.mail %>" class="main-section__link"><%- base.mail %></a></span>
    </p>
    <div class="main-section__btn-group main-section__btn-group--next js-view js-view--fade-in js-view--delay-4">
      <a href="../aboutus/aboutus_04.html" role="button" class="main-section__btn">오시는 길</a>
    </div>
  </div>
  <!-- //main-section -->
</div>
