<%
let gnb = locals.require('gnb.json')
let base = locals.require('base.json')
var page = 'aboutus'
let sub = '오시는길'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<div class="directions">
  <div class="directions__map-wrap">
    <div class="directions__map">

      <div id="daumRoughmapContainer1524021628910" class="daum-map root_daum_roughmap root_daum_roughmap_landing"></div>
      <script charset="UTF-8" class="daum_roughmap_loader_script" src="http://dmaps.daum.net/map_js_init/roughmapLoader.js"></script>
      <script charset="UTF-8">
        new daum.roughmap.Lander({
          "timestamp": "1524021628910",
          "key": "nqvo",
          "mapWidth": "",
          "mapHeight": ""
        }).render();
      </script>

    </div>
  </div>
  <div class="directions__info-wrap">
    <div class="directions__item directions__item--nth-1"><span class="directions__title">주소. </span>서울 강남구 선릉로 574, 301호 (우)06153
      <div class="directions__desc">
        <span class="inline-block">지하철 9호선 선정릉역 3번 출구</span>
        <span class="inline-block">삼성동우체국 옆건물</span>
      </div>
    </div>
    <div class="directions__item directions__item--nth-2"><span class="directions__title">전화. </span><a href="tel:<%- base.tel %>" class="directions__link"><%- base.tel %></a></div>
    <div class="directions__item directions__item--nth-3"><span class="directions__title">팩스. </span><%- base.fax %></div>
    <div class="directions__item directions__item--nth-4"><span class="directions__title">이메일. </span><a href="mailto:<%- base.mail %>" class="directions__link"><%- base.mail %></a></div>
  </div>
</div>