<%
let gnb = locals.require('gnb.json')
var page = 'aboutus'
let sub = '조직도'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<div class="organization-chart">
  <div class="hidden-text">
    <h2>조직도 대체텍스트</h2>
    <ul>
      <li>CEO</li>
      <li>경영지원본부
        <ul>
          <li>SI 사업부
            <ul>
              <li>공공</li>
              <li>보험</li>
              <li>교육·제조·서비스</li>
            </ul>
          </li>
          <li>ITO 사업부
            <ul>
              <li>SM</li>
              <li>Infra</li>
            </ul>
          </li>
          <li>솔루션사업부
            <ul>
              <li>SW 원격배포</li>
              <li>유해정보차단</li>
            </ul>
          </li>
          <li>연구소
            <ul>
              <li>개발</li>
              <li>디자인</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>