<%
let gnb = locals.require('gnb.json')
var page = 'aboutus'
let sub = '회사소개'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<div class="company-introduction">
  <div class="company-introduction__row">
    <div class="company-introduction__cell">
      <div class="company-introduction__img-wrap">
        <img src="../../images/aboutus/img-company.jpg" alt="" class="company-introduction__img">
      </div>
    </div>
    <div class="company-introduction__cell company-introduction__cell--text-wrap">
      <p class="u-text">아데나소프트㈜는 정보분야 IT(Information Technology) 회사로서 산업별 검증 된 인력과 기술력을 보유하고 있으며 솔루션 제공 및 시스템 통합을 통해 고객의 가치를 실현시켜주는 전문 IT 개발 회사입니다.</p>
      <p class="u-summary2 u-summary2--font-bold u-summary2--color-blue company-introduction__summary">고객의 요구사항에 가장 적합한 정보시스템을 구축하고, 통합하여 업무효율과 가치를 극대화 할 수 있도록 합니다.</p>
      <p class="u-text">당사는 고객의 업무 및 Need를 파악하여 정보시스템에 대한 기획 단계부터 개발과 구축, 운영까지의 One-Stop 서비스를 제공합니다.<br>즉 정보화 계획, 응용시스템 개발 및 정보시스템 유지관리까지 고객의 업무 및 요구사항에 가장 적합한 정보시스템을 구축하고 통합하여, 고객의 업무 효율과 가치를 극대화 할 수 있도록 노력하고 있습니다.</p>
    </div>
  </div>
</div>

<h2 class="u-title u-title--next u-title--table-title">기본정보</h2>
<table class="u-table-col aboutus-table">
  <colgroup>
    <col class="aboutus-table__th">
    <col>
  </colgroup>
  <tbody class="u-table-col__tbody">
  <tr class="u-table-col__row">
    <th class="u-table-col__th">회사명</th>
    <td class="u-table-col__td">아데나소프트(주)</td>
  </tr>
  <tr class="u-table-col__row">
    <th class="u-table-col__th">직원수</th>
    <td class="u-table-col__td">20명</td>
  </tr>
  <tr class="u-table-col__row">
    <th class="u-table-col__th">하는일</th>
    <td class="u-table-col__td">정보시스템 개발(금융, 공공, 기업), 보험업무 컨설팅 및 시스템 개발, 솔루션 구축</td>
  </tr>
  <tr class="u-table-col__row">
    <th class="u-table-col__th">대표전화</th>
    <td class="u-table-col__td"><a href="tel:02-6465-5800" class="aboutus-table__link">02-6465-5800</a></td>
  </tr>
  <tr class="u-table-col__row">
    <th class="u-table-col__th">팩스</th>
    <td class="u-table-col__td">02-6465-5801</td>
  </tr>
  <tr class="u-table-col__row">
    <th class="u-table-col__th">홈페이지</th>
    <td class="u-table-col__td"><a href="http://www.athenasoft.co.kr" target="_blank" class="aboutus-table__link">http://www.athenasoft.co.kr</a></td>
  </tr>
  </tbody>
</table>