<%
let gnb = locals.require('gnb.json')
var page = 'aboutus'
let sub = '회사연혁'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>

<h1 class="u-page-title"><%- heading %></h1>
<div class="company-history">
  <ul class="company-history__list">
    <li class="company-history__item company-history__item--right">
      <div class="company-history__year">2017</div>
      <p class="u-text2">PLANIT - 솔루션 파트너 체결(Tableau)</p>
      <p class="u-text2">M2SOFT - 솔루션 파트너 체결(Crownix)</p>
      <img class="company-history__img" src="../../images/aboutus/history-2017.jpg">
    </li>
    <li class="company-history__item company-history__item--left">
      <div class="company-history__year">2016</div>
      <p class="u-text2">LG CNS 협력업체 등록</p>
      <img class="company-history__img" src="../../images/aboutus/history-2016.jpg">
    </li>
    <li class="company-history__item company-history__item--right">
      <div class="company-history__year">2015</div>
      <p class="u-text2">본사 이전(신논현 -> 선정릉)</p>
      <p class="u-text2">INNORIX - 전략파트너 체결 (BigData Transfer분야)</p>
    </li>
    <li class="company-history__item company-history__item--left">
      <div class="company-history__year">2014</div>
      <p class="u-text2">기업 부설연구소 설립</p>
      <img class="company-history__img" src="../../images/aboutus/history-2014.jpg">
    </li>
    <li class="company-history__item company-history__item--right">
      <div class="company-history__year">2013</div>
      <p class="u-text2">자본금 1억 증자</p>
      <p class="u-text2">유해사이트차단 - 컴장군 Ver_2.0 개발</p>
      <p class="u-text2">유해사이트차단 - 컴장군 Ver_1.0 개발</p>
      <img class="company-history__img" src="../../images/aboutus/history-2013.jpg">
    </li>
    <li class="company-history__item company-history__item--left">
      <div class="company-history__year">2012</div>
      <p class="u-text2">흥국화재 협력업체 등록</p>
      <p class="u-text2">벤처기업 인증</p>
      <p class="u-text2">동부CNI 비즈니스 파트너 업체 등록</p>
    </li>
    <li class="company-history__item company-history__item--right">
      <div class="company-history__year">2011</div>
      <p class="u-text2">S/W 원격 배포솔루션 개발(USB Version)</p>
      <p class="u-text2">원격배포 솔루션 프로그램 등록</p>
    </li>
    <li class="company-history__item company-history__item--left company-history__item--start">
      <div class="company-history__year">2010</div>
      <p class="u-text2">SW 원격 배포 솔루션 개발(PC version)</p>
      <p class="u-text2">아데나소프트(주) 법인 설립</p>
    </li>
  </ul>
</div>