<%
let gnb = locals.require('gnb.json')
let base = locals.require('base.json')
var page = 'aboutus'
let sub = '파트너사'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<div class="u-tab" data-ui-tab="true">
  <ul class="u-tab__list">
    <li class="u-tab__item is-on"><a href="#clients" class="u-tab__link">고객사</a></li>
    <li class="u-tab__item"><a href="#partners" class="u-tab__link">파트너사</a></li>
  </ul>
</div>
<div class="u-tab-content" id="clients">
  <div class="partners">
    <div class="partners__type-title u-title2">보험</div>
    <ul class="partners__list">
      <li class="partners__item"><img src="../../images/aboutus/clients/samsung-fire.jpg" alt="삼성화재" class="partners__img"></li>
      <li class="partners__item"><img src="../../images/aboutus/clients/db-ins.jpg" alt="DB손해보험" class="partners__img"></li>
      <li class="partners__item"><img src="../../images/aboutus/clients/db-life.jpg" alt="DB생명" class="partners__img"></li>
      <li class="partners__item"><img src="../../images/aboutus/clients/heungkuk-fire.jpg" alt="흥국화재" class="partners__img"></li>
      <li class="partners__item"><img src="../../images/aboutus/clients/nh-life.jpg" alt="농협생명" class="partners__img"></li>
    </ul>
  </div>
  <div class="partners">
    <div class="partners__type-title u-title2">공공</div>
    <ul class="partners__list">
      <li class="partners__item"><img src="../../images/aboutus/clients/koload.jpg" alt="도로교통공단" class="partners__img"></li>
      <li class="partners__item"><img src="../../images/aboutus/clients/kedi.jpg" alt="한국교육개발원" class="partners__img"></li>
      <li class="partners__item"><img src="../../images/aboutus/clients/dj-education.jpg" alt="대전광영시교육청" class="partners__img"></li>
      <li class="partners__item"><img src="../../images/aboutus/clients/kocsc.jpg" alt="방송통신심의위원회" class="partners__img"></li>
    </ul>
  </div>
</div>
<div class="u-tab-content" id="partners">
  <ul class="partners__list">
    <li class="partners__item"><img src="../../images/aboutus/partners/daewoo-is.jpg" alt="대우정보시스템" class="partners__img"></li>
    <li class="partners__item"><img src="../../images/aboutus/partners/db-inc.jpg" alt="DB Inc." class="partners__img"></li>
    <li class="partners__item"><img src="../../images/aboutus/partners/lg-cns.jpg" alt="LG CNS" class="partners__img"></li>
    <li class="partners__item"><img src="../../images/aboutus/partners/m2soft.jpg" alt="M2 soft" class="partners__img"></li>
    <li class="partners__item"><img src="../../images/aboutus/partners/planit.jpg" alt="Planit" class="partners__img"></li>
    <li class="partners__item"><img src="../../images/aboutus/partners/innorix.jpg" alt="Innorix" class="partners__img"></li>
    <li class="partners__item"><img src="../../images/aboutus/partners/obzen.jpg" alt="Obzen" class="partners__img"></li>
    <li class="partners__item"><img src="../../images/aboutus/partners/fngsoft.jpg" alt="FNGsoft" class="partners__img"></li>
    <li class="partners__item"><img src="../../images/aboutus/partners/i-leaders.jpg" alt="i-Leaders" class="partners__img"></li>
    <li class="partners__item"><img src="../../images/aboutus/partners/jisong.jpg" alt="Jisong" class="partners__img"></li>
  </ul>
</div>