// 하위페이지 공통으로 사용되는 스타일 모음

.u-page-header { @include block; margin-top:80px; height:150px; position:relative;
  @media (max-width:$tablet-size) { margin-top:0; height:120px; }
}

.u-page-visual { box-sizing:border-box; display:table-cell; width:1%; height:inherit; padding-bottom:50px; background-position: 50% 50%; vertical-align:middle; text-align: center; 
  &:before { content:attr(data-page); display:inline-block; width:100%; font-family: $font-en; font-size:36px; font-weight: 500; color:#fff; text-shadow: 0 1px rgba(0, 0, 0, 0.35); }
  body.aboutus & { background-image: url("../images/page-visual/aboutus-desktop.jpg"); }
  body.recruit & { background-image: url("../images/page-visual/recruit-desktop.jpg"); }
  body.business & { background-image: url("../images/page-visual/business-desktop.jpg"); }
  body.solution & { background-image: url("../images/page-visual/solution-desktop.jpg"); }
  @media (max-width:$tablet-size) { background-size: cover; padding-bottom:40px; 
    &:before { font-size: 24px; }
    body.aboutus & { background-image: url("../images/page-visual/aboutus-mobile.png"); }
    body.recruit & { background-image: url("../images/page-visual/recruit-mobile.png"); }
    body.business & { background-image: url("../images/page-visual/business-mobile.png"); }
    body.solution & { background-image: url("../images/page-visual/solution-mobile.png"); }
  }
}

.u-page-location { position:absolute; left:0; right:0; bottom:0; width:100%; height:50px; max-width:$site-width; margin:0 auto;
  $this:&;
  &:before { content:''; display:block; position:absolute; left:-1000px; right:-1000px; top:0; height:inherit; background-image: url("../images/blank/black-80.png"); }
  &__wrap { display:table; width:550px; height:inherit; }
  &__item { display:table-cell; vertical-align: middle; position:relative; height:inherit; color:#fff; font-size:16px; box-sizing: border-box; white-space: nowrap;
    &--home { width:1%; background-color: $blue; font-size:0;
      #{$this}__link { display:inline-block; width:50px; height:50px; background-image: url("../images/icon/icon-home.png"); background-repeat: no-repeat; background-size: 24px 22px; background-position: 50% 50%; }
    }
    &:not(:first-child) { width:250px; border-right:1px solid #666; }
    &:not(:first-child) #{$this}__link { position:relative; display:inline-block; width:100%; height:inherit; line-height: 50px; padding:0 40px 0 30px; font-size:16px; box-sizing: border-box; color:inherit; text-decoration: none;
      &:after { content:''; display:block; width:9px; height:9px; border-left:1px solid #ccc; border-bottom:1px solid #ccc; transform:rotate(-45deg); position:absolute; right:23px; top:16px; }
    }
  }
  @media (max-width:$tablet-size){ height:40px;
    &__wrap { width:100%; }
    &__item {
      &--home {
        #{$this}__link { width:40px; height:40px; background-size: 14px 13px; }
      }
      &:not(:first-child) #{$this}__link { font-size:13px; line-height: 40px; padding:0 30px 0 15px;
        &:after { right:16px; top:13px; }
      }
      &:last-child { border-right:0; }
    }
  }
}

.u-page-list { z-index:11; margin:-50px 0 0; padding:0; width:100%; list-style: none; max-height:0; overflow: hidden; position:absolute;
  &:before { content:''; display:block; height:50px; }
  &.is-over { max-height:500px; transition:max-height ease-out .3s; }
  &__item { box-sizing: border-box; border-top:1px solid #666; background-color:rgba(0,0,0,0.8); color:#fff; transition:color .1s ease-in-out;
    &:first-child { border-top:0; }
    &:focus,
    &:hover { background-color:$blue; border-color:$blue; color:#fff;}
    &.active { background-color:$blue; border-color:$blue;
      &:focus,
      &:hover { color:#fff; }
    }
    &:focus+&,
    &:hover+& { border-color:$blue; }
    &.active+& { border-color:$blue; }
  }
  &__link { display:inline-block; width:100%; box-sizing: border-box; padding:14px 30px 16px; font-size:16px; color:inherit; text-decoration: none; }
  @media (max-width:$tablet-size){ margin-top:-40px;
    &:before { height:40px; }
    &__link { padding:12px 15px; font-size:13px; }
  }
}

// title, text
.u-page-title { margin:0 0 50px; font-size:48px; font-weight: $medium; color:$black-tit; text-align: center;
  @media (max-width:$tablet-size){
    margin-bottom:20px; font-size:23px;
  }
}
.u-page-desc { display:block; margin:3px 0 0; font-size:18px; color:#555; font-weight: $light; font-family: 'Open Sans',sans-serif;
  @media (max-width:$tablet-size){
    font-size:14px; word-break: keep-all; word-wrap: break-word;
  }
}

.u-title { margin:0 0 0; font-size:36px; color:$black-tit; font-weight: $medium;
  &--table-title { margin-bottom:0.389em; }
  &--next { margin-top:94px; }
  @media (max-width:$tablet-size){
    font-size:18px;
    &--next { margin-top:42px; }
  }
}
.u-title2 { margin:0 0 .458em; font-size:24px; font-weight: $medium; color:$black-tit;
  @media (max-width:$tablet-size){
    font-size:18px;
  }
}

.u-summary { margin:0 0 0; font-size:30px; line-height:40px; color:$black-tit; font-weight: $light;
  &--font-bold { font-weight: $medium; }
  &--color-blue{ color: $blue; }
  &--center { text-align: center; }
  &--next { margin-top:52px; }
  @media (max-width:$tablet-size){
    font-size:19px; line-height:26px; word-break: keep-all; word-wrap: break-word;
  }
}
.u-summary2 { margin:0 0 0; font-size:24px; line-height:36px; color:$gray-body; font-weight: $light;
  &--font-bold { font-weight: $medium; }
  &--color-blue{ color: $blue; }
  &--center { text-align: center; }
  @media (max-width:$tablet-size){
    font-size:16px; line-height: 23px; word-break: keep-all; word-wrap: break-word;
  }
}

.u-text { margin:0 0 0; font-size:18px; line-height: 32px; color:$gray-body; font-weight: $regular;
  &--dot { display:table; line-height: 34px; position:relative;
    &:before { content:'·'; display: table-cell; padding-right:5px; visibility: hidden; color:transparent; }
    &:after { content:''; display: inline-block; width:3px; height:3px; position:absolute; left:0; top:15px; background-color: $gray-body; }
  }
  &__link { color:inherit; text-decoration: none; }
  @media (max-width:$tablet-size){
    font-size:13px; line-height: 20px; word-break: keep-all; word-wrap: break-word;
    &--dot:after { width:2px; height:2px; top:8px; }
  }
}
.u-text2 { margin:0 0 0; font-size:16px; line-height: 24px; color:$gray-body; font-weight: $regular;
  @media (max-width:$tablet-size){
    font-size:13px; line-height: 20px; word-break: keep-all; word-wrap: break-word;
  }
}

// table
.u-table-col { position:relative; width:100%; border-collapse: collapse; text-align: left; word-break: keep-all; word-wrap: break-word;
  &:before { display:block; content:''; width:100%; height:0; border-top:2px solid $black-tit; position:absolute; top:-1px; left:0; right:0; }
  &__th, &__td { height:70px; padding:24px 30px; box-sizing: border-box; font-size:16px; line-height: 1.3; vertical-align: middle; font-weight: $regular; border-bottom:1px solid $table-border-gray; }
  &__th { color:$black-tit; background-color: $table-bg-gray; }
  &__td { color:$gray-body; }
  @media (max-width:$tablet-size){
    &__th, &__td { height:42px; padding:12px 15px; box-sizing: border-box; font-size:13px; }
    &__td { padding-left:10px; }
  }
}
.u-table-row { display:table; position:relative; width:100%; border-collapse: collapse; text-align: center; word-break: keep-all; word-wrap: break-word;
  &:before { display:block; content:''; width:100%; height:0; border-top:2px solid $black-tit; position:absolute; top:-1px; left:0; right:0; }
  &__thead, &__tbody { display:table-row-group; }
  &__row { display:table-row; }
  &__th, &__td { display:table-cell;box-sizing: border-box; line-height: 1.875; vertical-align: middle; font-weight: $regular; border-bottom:1px solid $table-border-gray; }
  &__th { height:60px; padding:13px 30px 11px; font-size:18px; color:$black-tit; background-color: $table-bg-gray; }
  &__td { height:60px; padding:10px 30px; color:$gray-body; font-size:16px; }
  &__text-left { text-align: left; }
  &__vertical-top { vertical-align: top; }

  // mobile
  &__mobile-show { display:none; }
  &__mobile-row { display:table-cell; }
  &__mobile-td { display:inline-block; padding:10px 0; }
  @media (max-width:$tablet-size){
    &__th, &__td { height:41px; padding:12px 15px; box-sizing: border-box; font-size:13px; line-height: 1.5; }
    &__td { padding-left:10px; }

    // mobile
    &--mobile-col { text-align: left; }
    &__mobile-hide { display:none; }
    &__mobile-row { display:table-row; padding:0; height:auto; }
    &__mobile-th { display:table-cell; height:41px; vertical-align: top; color:$black-tit; box-sizing: border-box; padding:12px 15px 10px; background-color: $table-bg-gray; }
    &__mobile-td { display:table-cell; vertical-align: top; padding:12px 12px 10px; }
  }
}

// tab
.u-tab { text-align: center; line-height:0;
  $this: &;
  &__list { margin:0 0 0 0; padding:0 0 0 1px; list-style: none; box-sizing: border-box; display:inline-block; overflow: hidden; font-size:18px; color:$gray-body; }
  &__item { display:table-cell; width:148px; height:50px;
    &.is-on { color:#fff; background-color: $blue; z-index:1; }
  }
  &__link { display:table-cell; position:relative; width:1%; height: inherit; vertical-align: middle; text-decoration: none; color:inherit;
    &:after { content:''; z-index:1; box-sizing: border-box; position:absolute; top:0; left:-1px; right:0; bottom:1px; height:inherit; border-width:1px; border-style:solid; border-color:#d6d6d6;
      #{$this}__item.is-on & { bottom:0; border-color:$blue; z-index:10; }
    }
  }
  @media (max-width:$tablet-size){
    &__list { font-size:13px; }
    &__item { width:72px; height:35px; }
  }
}
.u-tab2 { text-align: center; line-height:0;
  $this: &;
  &__state { display:none; }
  &__list { margin:0 0 0 0; padding:0 0 0 1px; list-style: none; box-sizing: border-box; display:inline-block; overflow: hidden; font-size:18px; color:$gray-body; }
  &__item { display:table-cell; width:148px; height:50px; background-color: #fff;
    &.is-on { color:#fff; background-color: $blue; z-index:1; }
  }
  &__link { display:table-cell; position:relative; width:1%; height: inherit; vertical-align: middle; text-decoration: none; color:inherit;
    &:after { content:''; z-index:1; box-sizing: border-box; position:absolute; top:0; left:-1px; right:0; bottom:1px; height:inherit; border-width:1px; border-style:solid; border-color:#d6d6d6;
      #{$this}__item.is-on & { bottom:0; border-color:$blue; z-index:10; }
    }
  }
  @media (max-width:$tablet-size){ text-align: left; position:relative;
    &__state { display:block; position:relative; font-size:14px; height:40px; box-sizing: border-box; border-width:1px; border-style:solid; border-color:#d6d6d6; color:$blue; background-color: #fff;
      &:after { content:''; display:inline-block; width:8px; height:8px; position:absolute; right:11px; top:12px; border-width:1px 1px 0 0; border-style: solid; border-color: $blue;
      transform:rotate(135deg); }
      &.is-open:after { transform: rotate(-45deg); top:16px; }
    }
    &__state-name { display:table-cell; height: inherit; box-sizing: border-box; padding:0 10px; vertical-align: middle; }
    &__list { z-index:10; width:100%; max-height: 0; overflow: hidden; padding:0; position:absolute; top:0; margin-top:40px; font-size:14px;
      &.is-open { max-height: 300px; transition: max-height ease-in-out .3s; }
    }
    &__item { display:block; width:100%; height:40px;
      &.is-on { display:none; }
    }
    &__link { box-sizing: border-box; padding:0 10px;
      &:after { left:0; border-width:0px 1px 1px; }
    }
  }
}
.u-tab-content { margin-top:95px;
  @media (max-width:$tablet-size){ margin-top:36px; }
}

.u-wrap { display:table; width:100%;
  &__item { display:table-cell; width:1000px; box-sizing: border-box; padding:0 0 0 20px;
    &:first-child{padding:0;}
  }
  @media (max-width:$tablet-size){
    &__item {
      &--mobile-full { display:block; width:100%; padding:0; }
    }
  }
}

// buttons
.u-btn-wrap { width:100%; margin:80px 0 0; text-align: center;
  @media (max-width:$tablet-size){ margin:40px 0 0; }
}
.u-btn { display:inline-block; box-sizing: border-box; padding:18px 32px; font-size:16px; border-width:1px; border-style: solid; border-color:$black-tit; color:$black-tit; background-color: #fff; text-decoration: none;
  transition: background .3s ease-in-out, border .3s ease-in-out;
  &--download:after { content:''; display:inline-block; width:12px; height:12px; margin-left:10px; margin-bottom:1px; background-image: url("../images/icon/icon-download.png"); }
  &:hover { background-color: rgba(34, 34, 34, 0.1); }
  @media (max-width:$tablet-size){ padding:11px 22px 10px; font-size:13px;
    &--download:after { width:9px; height:9px; margin-left:5px; background-size: 9px 9px; }
  }
}

// list
.u-list { display:table; width:100%; margin:2em 0 0 0; padding:0 30px; list-style: none; box-sizing: border-box; background-image: url("../images/styles/u-list-bg.png"); background-repeat: no-repeat; background-position: 0 40px;
  counter-reset:u-list;
  &:after { display:inline-block; width:100%; content:''; }
  &__item { display:table-cell; width:1000px; position:relative; min-width:90px; padding-top:110px; text-align: center; font-size:18px; color:$black-tit; counter-increment: u-list;
    &:before { z-index:1; display:inline-block; width:60px; height:60px; position:absolute; left:0; top:0; right:0; margin:auto; background-color: $blue; font-size:24px; font-family: $font-en; font-weight: 500;
      content: counter(u-list, decimal-leading-zero); border-radius: 60px; color:#fff; line-height: 60px; border:15px solid #fff; }
    &:after { z-index:2; display:inline-block; width:90px; height:90px; box-sizing: border-box; position:absolute; left:0; top:0; right:0; margin:auto; background-color: transparent;
      content:''; border:1px solid #dcdcdc; border-radius: 90px; }
  }
  &__text { display:inline-block; }
  @media (max-width:$tablet-size){
    max-width:380px; margin:16px auto 0; padding:0; background-image: none; font-size:0;
    &:before { content:''; display:block; margin-top:-15px; }
    &__item { display:inline-block; position:relative; width:50%; min-width: 150px; height: 30px; box-sizing: border-box; padding:0 5px 0 40px; margin-top:15px; text-align: left; font-size:14px; white-space: nowrap; vertical-align: middle;
      &:before { width:30px; height:30px; margin-right:10px; right:auto; bottom:0; border:0; text-align: center; font-size:15px; line-height: 30px; }
      &:after { display:none; }
    }
    &__text { display:table-cell; width:1%; height:inherit; vertical-align: middle; }
  }
}

.u-zoom-box { font-size:0; text-align: center;
  &__img { max-width:100%; }
  &__link { display:none; }
  @media (max-width:$tablet-size){ position:relative; margin:0 -15px; box-sizing: border-box; padding:15px; border-top:1px solid #d6d6d6; border-bottom:1px solid #d6d6d6;
    &__link { display:block; position:absolute; right:15px; bottom:15px; width:29px; height:29px; background-color: rgba(0,0,0,.5); background-image: url("../images/icon/icon-magnifier.png"); background-size: 19px 19px; background-position: 50% 50%; background-repeat: no-repeat; }
  }
}