@mixin hidden { overflow:hidden; position:absolute; width:0; height:0; }

@mixin block {
  &:before,
  &:after { display:table; overflow:hidden; height:0; content:''; }
  &:after { clear:both; }
}
@mixin line-clamp($lines, $line-height) { display:block; display:-webkit-box; -webkit-box-orient:vertical; position:relative; text-overflow: ellipsis; -webkit-line-clamp:$lines; white-space:normal;
  &:after { position:absolute; right:0; bottom:0; width:77px; height:$line-height+em; background:url(../images/common/line-clamp.png) repeat-y right bottom; content:''; pointer-events:none; }
  @supports (-webkit-line-clamp: $lines) {
    height:auto;
    &:after { content:none}
  }
}
@mixin button {
  border:none; border-radius:0; background:transparent; padding:0; font-family:inherit; cursor:pointer;
  &:hover { outline:none; }
}
@mixin ir {
  overflow:hidden; white-space:nowrap; text-indent:-100%; text-align:left;
}