<%
let list = locals.require('business-performance-list2.json')
let tabList = Object.keys(list).sort().reverse();
-%>
<div class="u-tab2" data-ui-tab="true" data-drop-down="true">
  <div class="u-tab2__state js-state">
    <span class="u-tab2__state-name"></span>
  </div>
  <ul class="u-tab2__list js-list">
    <% tabList.forEach(function (tab, index){ %>
    <li class="u-tab2__item <% if(index === 0){ %>is-on<% } %>"><a href="#list-<%- tab %>" class="u-tab2__link js-link"><%- tab %></a></li>
    <% }) %>
  </ul>
</div>
<%
  for(var year in list){
  var i = Object.keys(list).indexOf(year)
  var months = list[year].reverse()
%>
<div class="u-tab-content" id="list-<%- year %>">
  <table class="u-table-row performance-list2">
    <colgroup>
      <col class="performance-list2__th-1">
      <col class="performance-list2__th-2">
      <col class="performance-list2__th-3">
    </colgroup>
    <thead class="u-table-row__thead u-table-row__mobile-hide">
    <tr class="u-table-row__row">
      <th class="u-table-row__th">연도</th>
      <th class="u-table-row__th">업무</th>
      <th class="u-table-row__th">발주처</th>
    </tr>
    </thead>
    <tbody class="u-table-row__tbody">
    <% months.forEach(function (item){ %>
    <tr class="u-table-row__row">
      <td class="u-table-row__td performance-list2__font-en performance-list2__mobile-th"><span class="performance-list2__year"><%- year %>.</span> <%- item.month %></td>
      <td class="u-table-row__td u-table-row__text-left performance-list2__title" data-order="<%- item.order %>"><%- item.title %></td>
      <td class="u-table-row__td u-table-row__text-left u-table-row__mobile-hide performance-list2__order"><%- item.order %></td>
    </tr>
    <% }) %>
    </tbody>
  </table>
</div>
<% } %>