<%
let list = locals.require('business-performance-list.json')
let item = locals.entry.item || ''
let field = list[item]
-%>
<h2 class="u-title u-title--next u-title--table-title">주요실적</h2>
<ul class="performance-list">
  <% for( var i in field ){ %>
  <li class="performance-list__item">
    <div class="performance-list__img-wrap">
      <img src="../../images/business/logo/<%- field[i].img %>" alt="<%- i %>" class="performance-list__img">
    </div>
    <% if( field[i].description !== '' ){
      let desc = field[i].description
    %>
    <ul class="performance-detail">
      <% desc.forEach(function (desc){ %>
      <li class="performance-detail__item"><%- desc %></li>
      <% }) %>
    </ul>
    <% } %>
  </li>
  <% } %>
</ul>