.site-content { @include block; margin:40px auto 0; padding:0 0 150px; max-width:$site-width;
  @media (max-width:$tablet-size) {
    margin:30px auto 0; padding:0 15px 75px; padding-left: calc(15px + env(safe-area-inset-left)); padding-right: calc(15px + env(safe-area-inset-right));
  }
}