.site-footer { @include block; position: relative; z-index:800; width:$site-width; margin:0 auto; padding:26px 0 24px; color:#fff;
  &:after { z-index:-1; position:absolute; display:block; box-sizing:border-box; height:auto; top:0; left:-1000px; right:-1000px; bottom:0; margin:auto; background-color:$blue; content:''; }
  @media (max-width:$tablet-size) {
    display:block;width:auto;padding:18px 15px;background-color: $blue;text-align: center;
    &:after { display:none; }
  }
}

.footer-address { overflow:hidden; font-size:13px; color:#fff; font-weight:300; line-height:1.3;margin-top:-7px; word-break:keep-all; font-style:normal;
  &__item { float:left; margin-right:29px;  margin-top:7px; 
    &--clear { clear:left;}
  }
  &__highlight { font-weight:500; }
  &__link {	text-decoration:none; color:inherit; }
  @media (max-width:$tablet-size) { 
    font-size:12px; margin-top:-6px;
    &__item { float:none; margin-right:15px; margin-left:15px; margin-top:6px; }
    &__item--mobile-clear { clear:left; }
    &__item--mobile-inline-block { display:inline-block; }
  }
}

.footer-logo { width:178px; position:absolute; top:0; bottom:0; right:50%; margin-right:-($site-width/2);
  &__link { display:block; margin-top:29px; }
  &__img { max-width:100%; }
  @media (max-width:$tablet-size) {
    position:static; width:113px; margin:0 auto;
    &__link { margin-top:9px; }
  }
}

.footer-copyright { margin-top:8px; font-size:13px; color:#6892ca; font-weight:$regular; line-height:1.3;
  @media (max-width:$tablet-size) {
    font-size:12px; 
  }
}