.site-header { position:fixed; top:0; left:0; right:0; z-index:900; height:80px; margin:0 auto; box-sizing: border-box; background-color:#fff; background-image: none; border-bottom:1px solid $blue; transition:background-color .1s ease-in-out;
  @media (min-width: $tablet-size) and (max-width: $site-width) {
    position:absolute; min-width: 1180px;
  }
  @media (max-width:$tablet-size) {
    position:static; height:45px; margin:0 auto; border-bottom:0; background-color:transparent;
  }
}

.top-logo { z-index:60; position:absolute; top:31px; left:50%; margin-top:0; margin-right:0; margin-bottom:0; margin-left:-($site-width/2); width:184px; font-size: 0;
  &__link { display:block; }
  &__img { max-width:100%; }
  @media (max-width:$tablet-size) {
    width:145px; top:0; left:0; margin-left:15px; height:inherit; line-height: 0;
    &__link { height:inherit; box-sizing: border-box; padding-top:15px; }
    &__img { width:100%; }
  }
}

.site-gnb { position:absolute; left:0; right:0; top:0; z-index:50; height:80px; color:$black-tit;
  $this:&;
  &__tit { @include hidden; }
  &__list { width:644px; height:inherit; margin:0 auto; padding:0; text-align:justify; list-style:none; line-height:1.3; font-size:0;
    &:after{ display:inline-block; width:100%; content:''; }
  }
  &__item { position: relative; display:inline-block; height:inherit; white-space:normal; font-size:18px; text-align:center; }
  &__link { position:relative; z-index:10; display:table-cell; height:inherit; padding:0 45px; color:inherit; text-decoration:none; vertical-align:middle; font-weight: $regular; font-family:$font-en; transition:color .1s ease-in-out;
    //#{$this}__item:hover & { color:$blue; }
    #{$this}__item &:after { content:''; display:block; width:0; height:3px; position:absolute; left:0; right:0; bottom:0; margin:0 auto; background-color: $blue; transition:width ease-in-out .3s; }
    #{$this}__item:hover &:after { width:84px; }
  }
  &__list2 { overflow:hidden; position:absolute; z-index:9; width:100%; height:0; margin:-80px 0 0 0; padding:0 0 0 0; list-style:none; color:$gray-body; font-size:14px; line-height:1.3;
    &:before { display:block; content:''; height:90px; }
    #{$this}.is-over & { height:280px; animation:gnb-mobile-link-on .3s; }
  }
  &__item2 { text-align:left; box-sizing: border-box; padding-left:45px; }
  &__link2 { display:table-cell; width:1%; padding:8px 0; color:inherit;text-decoration:none; vertical-align:middle;
    //#{$this}__item2.active & { color:$blue; }
    #{$this}__item2:hover & { color:$blue; }
  }
  &__bg { background-color: #fff; width:100%; height:0; position:absolute; left:0; right:0; top:80px;
    #{$this}.is-over & { height:200px; animation:gnb-mobile-link-on .3s; }
  }
  &__dimmed { z-index:-1; position:fixed; left:0; top:80px; right:0; bottom:0; height:0; background-image: url("../images/blank/black-80.png"); background-repeat: repeat;
    #{$this}.is-over & { height:100%; animation:gnb-mobile-link-on .3s; }
  }
  @media (max-width:$tablet-size) {
    background:none; min-width:100%; height:auto; position: static; min-height:calc(100vh - 45px);
    &__tit { @include hidden; }
    &__list { width:auto; height:auto; border-bottom:1px solid #d6d6d6; }
    &__item { display:block; float:none; width:100%; margin-top:0; text-align:left; font-size:16px; font-weight:500; color:$black-tit;
      &+& { border-top:1px solid #d6d6d6; }
    }
    &__link { width:1%; padding:0 15px; height:50px; text-transform:none; position:relative; font-weight: inherit;
      &:after { display:none; }
      &:before { display:inline-block; content:''; width:8px; height:8px; border-color:$black-tit; border-style:solid; border-width:0 0 1px 1px; background:none; transform:rotate(-45deg); position:absolute; right:20px; top:19px; }
      #{$this}__item.is-over & { color:$blue; }
      #{$this}__item.is-over &:before { border-color:$blue; transform:rotate(135deg); top:23px; }
      #{$this}__item &:after { display:none; }
    }
    &__list2 { position: static; height:auto; max-height:0; background-color:#1e232a; font-size:14px; transition:max-height .3s; margin-top:0; background-image:none;
      &:before { display:none; }
      #{$this}__item.is-over & { max-height:1000px; transition:max-height 1s; }
    }
    &__item2 { padding-left:0; }
    &__link2 { height:50px; padding:0 15px; border-top:1px solid rgba(255,255,255,.2); color:#fff;
      #{$this}__item2.active & { color:#fff; }
      #{$this}__item2:hover & { color:#fff; }
    }
  }
}

.util-menu { z-index:60; position:absolute; top:30px; right:50%; margin:0; padding:0; margin-right:-($site-width/2); list-style:none; color:$gray;
  &__item { font-size:14px;font-family:$font-en;
    &--desktop-hide { display:none; }
  }
  &__link { text-decoration: none; color:inherit; transition:color .1s ease-in-out; 
    &:hover { color:$blue; }
  }
  @media (max-width:$tablet-size) { 
    overflow:hidden; position:static; margin:0; background-color: $blue; color:#fff;
    &__item { float:left; position:relative; text-transform:uppercase;
      &+&:before { content:''; width:2px; height:2px; display:inline-block; position:absolute; left:0; top:0; bottom:0; margin:auto; background-color: #fff; }
      &--desktop-hide { display:none; display:block; }
    }
    &__link { display:table-cell; height:45px; padding:0 15px; box-sizing: border-box; font-size:13px; vertical-align: middle; 
      &:hover { color:inherit; }
    }
  }
}

@keyframes gnb-mobile-link-on {
  0% { opacity:0; }
  100% { opacity:1; }
}

.mobile-header {
  @media (max-width:$tablet-size) {
    background-color:#fff; position:fixed; top:0; left:0; right:0; height:45px; z-index:900; border-bottom: 1px solid $blue; box-sizing: border-box; transition:background-color .3s ease-in-out;
  }
}

.mobile-button-open { opacity:0; position:absolute; top:0; right:0; width:45px; height:inherit; margin:0; padding:16px 15px 15px; border:none; font-size:0; background-color:transparent; text-align:left; overflow:hidden; white-space:nowrap; cursor:pointer; transition:opacity 1s; box-sizing: border-box;
  &__bread { display:inline-block; width:100%; height:100%; position:relative; border-top:2px solid $black-tit; box-sizing: border-box;
    &:before { content:''; display:inline-block; width:100%; border-top:2px solid $black-tit; position:absolute; top:4px; }
    &:after { content:''; display:inline-block; width:100%; border-top:2px solid $black-tit; position:absolute; bottom:0; }
  }

  @media (max-width:$tablet-size) {
    opacity:1; right: env(safe-area-inset-left);
  }
  .mobile-header.is-fixed & {
    &:before,
    &:after { border-color:#000; }
  }
}

.mobile-button-close { display:none;
  @media (max-width:$tablet-size) {
    display:block; position:absolute; top:0; right:0; width:46px; height:45px; margin:0; padding:0; border:none; background-color:transparent; text-indent:100%; text-align:left; overflow:hidden; white-space:nowrap; cursor:pointer;
    &:before,
    &:after { position:absolute; top:0; left:0; bottom:0; right:0; width:19px; height:0; margin:auto; border-top:2px solid #fff; content:''; }
    &:before { transform:rotate(45deg) }
    &:after { transform:rotate(-45deg) }
  }
}

.mobile-menu {
  @media (max-width:$tablet-size) {
    overflow:auto; z-index:910; position:fixed; left:100%; top:0; bottom:0; width:255px; transform:translateX(0); transition:transform .3s ease-in; -webkit-overflow-scrolling:touch;background-color: #fff;
    &.is-on { transform:translateX(-100%); }
  }
}

.mobile-menu-logo { display:none;
  @media (max-width:$tablet-size) {
    display:block; width:118px; height:20px; margin:0; padding-left:15px; padding-top:13px; padding-bottom:13px;
    &__link { display:block; line-height: 0; height:inherit; }
    &__img { height:100%; }
  }
}

.mobile-menu-dimmed { position: fixed; background-color:rgba(0,0,0,.6);top: 0; left: 0; right: 0; bottom: 0; z-index: 905; }