<%
let gnb = locals.require('gnb.json')
var page = 'solution'
let sub = 'SIFP 2017'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>
<% locals.block('footerScript','<script src="../../js/photo-viewer.js"></script>','append') %>

<h1 class="u-page-title"><%- heading %>
  <span class="u-page-desc">Service Integration Foundation Platform 2017</span>
</h1>

<div class="business-summary">
  <span class="inline-block">아데나 플랫폼은 시스템구축 및 LifeCycle 관리 </span>
  <span class="inline-block">개발을 위해 </span>
  <strong class="business-summary__highlight"><span class="inline-block">필요한 기본기능 및 </span><span class="inline-block">Base Architecture를 Module화하여 제공</span></strong>
  <span class="inline-block">함으로써 효율적인 Application 구축을 지원합니다.</span>
</div>

<div class="solution-section">
  <h2 class="solution-section__title">Architecture</h2>
  <div class="solution-section__img-wrap u-zoom-box">
    <img src="../../images/solution/img-architecture.jpg" alt="" class="u-zoom-box__img u-zoom-box__img--nth-1">
    <a href="#none" onclick="openPhoto('.u-zoom-box__img--nth-1');" class="u-zoom-box__link"></a>
  </div>
  <div class="solution-information">
    <dl class="solution-information__list">
      <dt class="solution-information__title">프레임워크</dt>
      <dd class="solution-information__desc"> · <span class="text-uppercase">java</span> 기반의 정보시스템 구축에 활용하는 개발·운영을 위한 표준환경을 제공하기 위한 것입니다.</dd>
    </dl>
  </div>
</div>
<div class="solution-section">
  <h2 class="solution-section__title">Platform Level</h2>
  <div class="solution-section__img-wrap u-zoom-box">
    <div class="hidden-text">
      <ul>
        <li>Extended Platform System
          <ul>
            <li>Default Web Application</li>
            <li>Mobile Web Application</li>
          </ul>
          <ul>
            <li>고객사 비즈니스 Business Services Application
              <ul>
                <li>OA Web App</li>
                <li>Finance Web App</li>
                <li>PMS Web App</li>
              </ul>
            </li>
            <li>자사 SIFP 2017 Public Service Application
              <ul>
                <li>Management center</li>
                <li>Process management</li>
                <li>Dashboard</li>
              </ul>
            </li>
            <li>Basis Service Platform
              <ul>
                <li>Standard platform (Code, Grant, Menu..)</li>
                <li>Messenger</li>
                <li>User & Staff</li>
                <li>Login & Session Security</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <p>SSO(Single sign on)</p>
      <ul>
        <li>System intergration
          <ul>
            <li>OA</li>
            <li>AnCai</li>
            <li>ITSM</li>
            <li>Others</li>
          </ul>
        </li>
      </ul>
      <p>Uniform interface Function</p>
      <h3>고객 비즈니스 서비스 및 서비스 연계</h3>
      <ul>
        <li>Business Model
          <ul>
            <li>SAP HR</li>
            <li>SAP 5W</li>
            <li>SAP CRM</li>
            <li>MES</li>
            <li>ECM</li>
            <li>PCB</li>
            <li>Others</li>
          </ul>
        </li>
      </ul>
    </div>
    <img src="../../images/solution/img-platform-level.jpg" alt="" class="u-zoom-box__img u-zoom-box__img--nth-2">
    <a href="#none" onclick="openPhoto('.u-zoom-box__img--nth-2');" class="u-zoom-box__link"></a>
  </div>
</div>
<div class="solution-section">
  <h2 class="solution-section__title">SIFP Layer & Interface</h2>
  <div class="solution-section__img-wrap u-zoom-box">
    <div class="hidden-text">
      <ul>
        <li>
          <h3>01</h3>
          <p>동기화 시간이 되면 CMS 서버에서 배포 될 신규 Contents를 확인</p>
        </li>
        <li>
          <h3>02</h3>
          <p>CMS 서버에서 배포될 content를 가져옴</p>
        </li>
        <li>
          <h3>03</h3>
          <p>정해진 스케줄에 따라 원격배포서버와 지역서버가 동기화를 진행한다</p>
        </li>
        <li>
          <h3>04 배포가 정상적일 경우 데스크탑, 모바일 업데이트</h3>
          <p>배포가 정상적일 경우 로컬 네트워크를 통해 업데이트 진행</p>
          <p>배포가 정상적일 경우 무선AP를 통해 업데이트</p>
        </li>
        <li>
          <h3>05 배포가 비정상적일 경우</h3>
          <p>배포가 비정상적일 경우 대표 홈페이지에서 해당 자료를 다운로드</p>
        </li>
      </ul>
    </div>
    <img src="../../images/solution/img-layer-interface.jpg" alt="" class="u-zoom-box__img u-zoom-box__img--nth-3">
    <a href="#none" onclick="openPhoto('.u-zoom-box__img--nth-3');" class="u-zoom-box__link"></a>
  </div>
</div>

<h2 class="u-title u-title--next">SIFP의 특징</h2>
<ul class="solution-point">
  <li class="solution-point__item"><div class="solution-point__text">비즈니스 기능의 재사용<br class="only-desktop">확보를 위한 모듈별 개발</div></li>
  <li class="solution-point__item"><div class="solution-point__text">공용기능 제공에 따른<br class="only-desktop">신속성</div></li>
  <li class="solution-point__item"><div class="solution-point__text">고객 업무 Needs의<br class="only-desktop">맞춤화 및 차별화</div></li>
  <li class="solution-point__item"><div class="solution-point__text">사용자 환경에<br class="only-desktop">최적화된 UI·UX</div></li>
  <li class="solution-point__item"><div class="solution-point__text">타시스템과 인터페이스<br class="only-desktop">구성을 위한 범용성 확보</div></li>
</ul>

<div class="u-wrap solution-after">
  <div class="u-wrap__item solution-after__item u-wrap__item--mobile-full">
    <h2 class="solution-after__title">플랫폼 적용 전</h2>
    <p class="solution-after__text">정보화 사업별 동일기능에 대한 중복 관리</p>
    <p class="solution-after__text">정보시스템간 상호연계 시 많은 시간과 인력소요</p>
    <p class="solution-after__text">플랫폼 미흡으로 유지관리가 어려움</p>
  </div>
  <div class="u-wrap__item solution-after__item solution-after__item--next u-wrap__item--mobile-full">
    <h2 class="solution-after__title solution-after__title--color-blue">플랫폼 적용 후</h2>
    <p class="solution-after__text">공통 재사용으로 중복관리가 용이</p>
    <p class="solution-after__text">표준화된 모듈 사용으로 상호연계 시 운영성 향상</p>
    <p class="solution-after__text">개발표준에 의한 모듈화로 유지관리가 용이</p>
  </div>
</div>