<%
let gnb = locals.require('gnb.json')
var page = 'solution'
let sub = 'SW 원격배포 솔루션'
let heading = (sub == '') ? gnb[page].title.ko : sub
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>
<% locals.block('link','<link rel="stylesheet" href="../../css/styles.css">','append') %>
<% locals.block('footerScript','<script src="../../js/photo-viewer.js"></script>','append') %>

<h1 class="u-page-title"><%- heading %></h1>

<h2 class="u-title u-title--next">제품개요</h2>
<p class="solution-summary">SW 원격배포 시스템은 기업의 소프트웨어 자산을 효율적으로 관리할 수 있는 체계적인 기능을 제공하며 <span class="solution-summary__highlight">Compliance Risk를 최소화하고 사용자 편의성을 향상</span>시킵니다.</p>
<div class="sw-summary">
  <div class="sw-summary__item sw-summary__item--nth-1">
    <div class="sw-summary__cell"><div class="sw-summary__item-circle"></div></div>
    <div class="sw-summary__cell">
      <div class="sw-summary__title u-title2">실시간 SW 배포</div>
      <div class="sw-summary__desc">원격 사용자 원 클릭 설치</div>
      <div class="sw-summary__desc">최신 파일 유지</div>
    </div>
  </div>
  <div class="sw-summary__item sw-summary__item--nth-2">
    <div class="sw-summary__cell"><div class="sw-summary__item-circle"></div></div>
    <div class="sw-summary__cell">
      <div class="sw-summary__title u-title2">불법 SW 배포 차단</div>
      <div class="sw-summary__desc">복제 미디어 유통 근절</div>
      <div class="sw-summary__desc">벤더의 라이선스 감시 해소</div>
    </div>
  </div>
  <div class="sw-summary__item sw-summary__item--nth-3">
    <div class="sw-summary__cell"><div class="sw-summary__item-circle"></div></div>
    <div class="sw-summary__cell">
      <div class="sw-summary__title u-title2">네트워크 최소화</div>
      <div class="sw-summary__desc">네트워크 자원 최소화</div>
      <div class="sw-summary__desc">전송 속도 제어</div>
    </div>
  </div>
  <div class="sw-summary__item sw-summary__item--nth-4">
    <div class="sw-summary__cell"><div class="sw-summary__item-circle"></div></div>
    <div class="sw-summary__cell">
      <div class="sw-summary__title u-title2">비용절감</div>
      <div class="sw-summary__desc">인적 설치 지원 비용 절감</div>
      <div class="sw-summary__desc">미디어 배포 비용 절감</div>
    </div>
  </div>
</div>

<h2 class="u-title u-title--next">제품특징</h2>
<p class="solution-summary">본 제품은 <span class="solution-summary__highlight">확장 및 유연성, 운영성, 범용성, 안정성</span> 4가지 특징을 갖고 있습니다.</p>
<ul class="sw-component">
  <li class="sw-component__item">
    <div class="sw-component__title">확장 및 유연성</div>
    <div class="sw-component__text-wrap">
      <p class="sw-component__text">네트워크 대역별 거점 서버 확장</p>
      <p class="sw-component__text">대용량 소프트웨어 배포 제한 없음</p>
      <p class="sw-component__text">압축 패킹을 통한 온라인 배포</p>
    </div>
  </li>
  <li class="sw-component__item">
    <div class="sw-component__title">운영성</div>
    <div class="sw-component__text-wrap">
      <p class="sw-component__text">다양한 OS에 적용 가능</p>
      <p class="sw-component__text">온라인 등록을 통한 실시간 배포</p>
      <p class="sw-component__text">다운로드 통계 모니터링</p>
    </div>
  </li>
  <li class="sw-component__item">
    <div class="sw-component__title">범용성</div>
    <div class="sw-component__text-wrap">
      <p class="sw-component__text">자산관리 시스템과 연계</p>
      <p class="sw-component__text">SW설치 차단 시스템과 연계</p>
      <p class="sw-component__text">연계를 통한 SW관리 시너지 증대</p>
    </div>
  </li>
  <li class="sw-component__item">
    <div class="sw-component__title">안정성</div>
    <div class="sw-component__text-wrap">
      <p class="sw-component__text">원 클릭 다운로드 및 자동 설치 시작</p>
      <p class="sw-component__text">대용량파일 네트워크 단절 후 이어 받기</p>
      <p class="sw-component__text">전송 속도 제어 가능</p>
    </div>
  </li>
</ul>

<h2 class="u-title u-title--next">주요기능</h2>
<p class="solution-summary">SW 원격배포 시스템은 <span class="solution-summary__highlight">스케줄관리, Upload & Download, SW Packing, interface</span> 등 주요기능을 가지고 있습니다.</p>
<ul class="sw-component">
  <li class="sw-component__item">
    <div class="sw-component__title">스케줄관리</div>
    <div class="sw-component__text-wrap">
      <p class="sw-component__text">배포 스케줄 관리</p>
      <p class="sw-component__text">배포서버와 거점서버 미러링</p>
      <p class="sw-component__text">IP대역별 거점서버의 세그먼트 관리</p>
    </div>
  </li>
  <li class="sw-component__item">
    <div class="sw-component__title">Upload & Download</div>
    <div class="sw-component__text-wrap">
      <p class="sw-component__text">파일(2GB이상) Upload & Download</p>
      <p class="sw-component__text">전송속도 제어 및 스트리밍 전송</p>
    </div>
  </li>
  <li class="sw-component__item">
    <div class="sw-component__title">SW Packing & <br class="only-desktop">Auto installation</div>
    <div class="sw-component__text-wrap">
      <p class="sw-component__text">단일 설치 파일 생성</p>
      <p class="sw-component__text">다운로드 후 자동 설치 시작, 원본 자동삭제 </p>
    </div>
  </li>
  <li class="sw-component__item">
    <div class="sw-component__title">IT Portal interface</div>
    <div class="sw-component__text-wrap">
      <p class="sw-component__text">IT전산관리 연계</p>
      <p class="sw-component__text">SW 신청·승인 프로세스 연계</p>
    </div>
  </li>
</ul>

<h2 class="u-title u-title--next">기대 효과</h2>
<div class="sw-img-wrap u-zoom-box">
  <div class="hidden-text">
    <ul>
      <li>
        <h3>01</h3>
        <p>SW배포 비용 획기적 절감</p>
      </li>
      <li>
        <h3>02</h3>
        <p>라이선스 문제 및 불법 복제 SW 차단</p>
      </li>
      <li>
        <h3>03</h3>
        <p>신속하고 일괄적인 업무 적용으로 경쟁력 강화</p>
      </li>
      <li>
        <h3>04</h3>
        <p>IT자산관리와 SW원격배포 연계를 통하여 효율성 극대화</p>
      </li>
    </ul>
  </div>
  <img src="../../images/solution/img-effects.jpg" alt="" class="u-zoom-box__img u-zoom-box__img--nth-1">
  <a href="#none" onclick="openPhoto('.u-zoom-box__img--nth-1');" class="u-zoom-box__link"></a>
</div>

<h2 class="u-title u-title--next">시스템 구성</h2>
<div class="sw-img-wrap u-zoom-box">
  <div class="hidden-text">
    <ul>
      <li>
        <h3>01</h3>
        <p>동기화 시간이 되면 CMS 서버에서 배포 될 신규 Contents를 확인</p>
      </li>
      <li>
        <h3>02</h3>
        <p>CMS 서버에서 배포될 content를 가져옴</p>
      </li>
      <li>
        <h3>03</h3>
        <p>정해진 스케줄에 따라 원격배포서버와 지역서버가 동기화를 진행한다</p>
      </li>
      <li>
        <h3>04 배포가 정상적일 경우 데스크탑, 모바일 업데이트</h3>
        <p>배포가 정상적일 경우 로컬 네트워크를 통해 업데이트 진행</p>
        <p>배포가 정상적일 경우 무선AP를 통해 업데이트</p>
      </li>
      <li>
        <h3>05 배포가 비정상적일 경우</h3>
        <p>배포가 비정상적일 경우 대표 홈페이지에서 해당 자료를 다운로드</p>
      </li>
    </ul>
  </div>
  <img src="../../images/solution/img-composition.jpg" alt="" class="u-zoom-box__img u-zoom-box__img--nth-2">
  <a href="#none" onclick="openPhoto('.u-zoom-box__img--nth-2');" class="u-zoom-box__link"></a>
</div>