<% let base = locals.require('base.json') -%>
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <meta name="format-detection" content="telephone=no">
  <title><%- locals.blocks.title %> <%- base.name %></title>
  <link rel="stylesheet" href="../../libs/normalize/normalize.css">
  <link rel="stylesheet" href="../../libs/notokr/css/notokr.css">
  <link rel="stylesheet" href="../../libs/open-sans/css/open-sans.css">
  <link rel="stylesheet" href="../../css/common.css">
  <link rel="stylesheet" href="../../css/layout.css">
  <%- locals.blocks.link %>
  <script src="../../libs/jquery/jquery.min.js"></script>
  <%- locals.blocks.headerScript %>
</head>
<body class="<%- locals.blocks.page %>">
  <% if (locals.blocks.page == 'main' && locals.blocks.sub == '') { -%>
    <!-- 띠배너 -->
  <% } -%>
  <div class="wrapper">
    <div class="wrapper__row">
      <%- locals.widget('_header.ejs', {base: base}) %>
    </div>
    <div class="wrapper__row wrapper__row--height-full">
      <div class="site-container">
        <% if (locals.blocks.page == 'main') { -%>
        <div class="site-main">
          <%- locals.body %>
        </div>
        <!-- //site-main -->
        <% } else {-%>
        <%- locals.widget('_page-header.ejs') %>
        <div class="site-content">
          <%- locals.body %>
        </div>
        <!-- //site-content -->
        <% } -%>
      </div>
    </div>
    <div class="wrapper__row">
      <%- locals.widget('_footer.ejs', {base: base}) %>
    </div>
  </div>
  <script src="../../js/common.js"></script>
  <%- locals.blocks.footerScript %>
</body>
</html>