// 메인페이지에 사용되는 스타일 모음

@import 'variables/variables';
@import 'mixins/mixins';

.site-main { width:100%; position:relative; min-height:800px; }

.main-section { box-sizing:border-box; display:table-cell; width:100%; height:inherit; padding:100px 0; background-color:#fff; background-repeat:no-repeat; background-position:50% 50%; color:#fff; line-height:1.3; text-align:center; vertical-align:middle; word-break:keep-all; text-shadow:0 0 1px rgba(0,0,0,.5);
  
  $this:&;
  &--visual { padding-top:0; padding-bottom:0; display:block; width:auto; min-height:800px;}
  &--business { }
  &--solution { background-image:url(../images/main/section-bg-solution.jpg);}
  &--about-us { background-image:url(../images/main/section-bg-about-us.jpg);}
  &--contact-us { background-image:url(../images/main/section-bg-contact-us.jpg);}
  
  &--type-white { color:#222; text-shadow:none;}
  
  &__tit { margin:0; font-size:36px; font-family:$font-en; line-height:1; font-weight:700; }
  &__para { margin:0; font-size:24px; font-weight:300; line-height:1.25;
    &--next { margin-top:21px; }
    #{$this}--type-white & { color:#808080; }
  }
  &__tit2 { margin:0; font-size:30px; font-weight:500; line-height:1.25;
    &--next { margin-top:88px; }
  }
  &__para2 { margin:0; font-size:18px; font-weight:400; line-height:1.66; 
    &--next { margin-top:17px; }
  }
  &__btn-group { display:table; margin:0 auto; 
    &--next { margin-top:93px; }
  }
  &__btn { box-sizing:border-box; width:200px; height:60px; float:left; margin-right:20px; border:1px solid #fff; font-size:16px; text-align:center; line-height:58px; text-decoration:none; color:inherit; font-family:$font-en; transition:background .1s ease-in-out, border .1s ease-in-out;
    &:last-child { margin-right:0; }
    &:focus,
    &:hover { background-color:$blue; border-color:$blue; }
    &:active { background-color:$blue-active; border-color:$blue-active; }
    #{$this}--type-white & { border-color:#222; 
      &:focus,
      &:hover { border-color:$blue; color:#fff; }
      &:active { border-color:$blue-active; }
    }
  }
  &__span { 
    &--next { margin-left:40px; }
  }
  &__link { text-decoration:none; color:inherit; }
  @media (max-width:$tablet-size) {
    background-size:cover;
    &--visual { padding-left:0; padding-right:0; min-height:500px;}
    &--about-us { background-position:20% 50%; }
    &--contact-us { padding-bottom:200px; }
    &__tit { font-size:24px; }
    &__para { font-size:14px; padding-left:15px; padding-right:15px;
      &--next { margin-top:11px;}
      #{$this}--type-white & { }
    }
    &__tit2 { font-size:18px; 
      &--next { margin-top:68px; }
    }
    &__para2 { font-size:13px; 
      &--next { margin-top:13px; }
    }
    &__btn-group { 
      &--next { margin-top:45px;}
    }
    &__btn { float:none; display:block; background-color:$blue; border-color:$blue; font-size:13px; width:140px; height:40px; line-height:38px; color:#fff; margin-bottom:10px; margin-right:0; text-shadow:none;
      &:last-child { }
      &:focus,
      &:hover,
      &:active { background-color:$blue-active; border-color:$blue-active; }
      #{$this}--type-white & { color:#fff; border-color:$blue;
        &:focus,
        &:hover,
        &:active { background-color:$blue-active; border-color:$blue-active; }
      }
    }
    &__span { display:block;
      &--next { margin-left:0; margin-top:4px; }
    }
    &__link { }
  }
}

.main-visual { margin:0; min-height:800px; height:inherit; color:#fff; min-height:inherit;
  $this:&;
  &__item { display:table; overflow:hidden; height:inherit; width:100%; min-height:inherit;}
  &__inner { display:table-cell; width:1%; height:inherit; background-position:50% 50%; background-repeat:no-repeat; vertical-align:middle; }
  &__headline { font-size:70px; line-height:1.14; 
    &:not(:optional) { opacity:0; }
  }
  &__summary { margin-top:39px; font-size:24px; line-height:1.5; box-sizing:border-box;
    &:not(:optional) { opacity:0; }
  }
  &__btn { display:inline-block; box-sizing:border-box; width:200px; height:60px; margin-top:93px; border:1px solid #fff; font-size:16px; text-align:center; line-height:58px; text-decoration:none; color:#fff; font-family:$font-en; transition:background .1s ease-in-out, border .1s ease-in-out; vertical-align:top;
    &:not(:optional) { opacity:0; }
    &:focus,
    &:hover { background-color:$blue; border-color:$blue; }
    &:active { background-color:$blue-active; border-color:$blue-active; }
  }
  &__weight-light { font-weight:$light; font-size:.85em}
  &__item.is-active { 
    #{$this}__headline { animation:main-visual-headline 1.5s ease-out forwards; }
    @at-root {
      @keyframes main-visual-headline {
        0% { opacity:0; }
        100% { opacity:1; }
      }
    }
    #{$this}__summary { animation:main-visual-summary .5s ease-out .3s forwards;
      @at-root {
        @keyframes main-visual-summary {
          0% { opacity:0; transform:translateY(1em); }
          100% { opacity:1; transform:translateY(0); }
        }
      }
    }
    #{$this}__btn { animation:main-visual-btn .5s ease-out .5s forwards;
      @at-root {
        @keyframes main-visual-btn {
          0% { opacity:0; }
          100% { opacity:1; }
        }
      }
    }
  }
  @media (max-width:$tablet-size) {
    &__inner { background-size:cover; }
    &__headline { font-size:25px; font-weight:700; padding-left:5px; padding-right:5px; }
    &__summary { margin-top:26px; font-size:14px; width:95vw; max-width:400px; margin-left:auto; margin-right:auto; }
    &__btn { margin-top:46px; font-size:13px; width:140px; height:40px; line-height:38px; }
    &__weight-light { display:inline-block; margin-bottom:.1em; }
  }
}
.main-visual-wrap { height:inherit; min-height:800px; overflow:hidden; 
  .bx-viewport { height:inherit !important; min-height:inherit;}
  .bx-pager { position:absolute; bottom:50px; left:0; right:0; font-size:0; }
  .bx-pager-item { display:inline-block; margin:0 10px;  
    a { overflow:hidden; display:block; width:10px; height:10px; border-radius:100%; background-color:#fff; background-color:rgba(255,255,255,.5); transition:all .5s ease-in-out; text-indent:-999em; vertical-align:top; 
      &.active { background-color:$blue; }
    }
  }
  @media (max-width:$tablet-size) {
     min-height:500px;
    .bx-pager { bottom:25px; }
    .bx-pager-item { margin:0 5px; 
      width:7px; height:7px; 
    }
  }
}

.main-business-list { position:relative; display:inline-block; vertical-align:top; margin:83px -10px 0; padding:0; list-style:none; text-align:center; font-size:0;
  &__item { display:inline-block; padding:0 10px; width:280px; font-size:12px; vertical-align:top;}
  &__tit { margin:32px 0 0; font-size:24px; font-weight:500; line-height:1.25; }
  &__summary { margin:14px 0 0; font-size:16px; color:#555; line-height:1.5; }
  @media (max-width:$tablet-size) {
    max-width:380px; margin:1px 0 0; 
    &__item { width:50%; margin-top:27px; box-sizing:border-box; padding:0 3px;}
    &__tit { font-size:15px; margin-top:6px; }
    &__summary { font-size:13px; margin-top:5px; letter-spacing:-0.03em; }
  }
}

.icon-business { 
  $size : 180px;
  $length : 4;
  display:block; width:$size; height:$size; margin:0 auto; background: url(../images/main/icon-business.png) no-repeat;
  @for $i from 1 through $length {
    &--nth-#{$i} { background-position: -($size * ($i - 1))  0; }
  }
  @media (max-width:$tablet-size) {
    $size : 76px;
    width:$size; height:$size; background-size:cover;
    @for $i from 1 through $length {
      &--nth-#{$i} { background-position: -($size * ($i - 1))  0; }
    }
  }
} 

.main-mini-slide { 
  @media (max-width:$tablet-size) {

  }
}

.main-mini-slide-wrap { overflow:hidden; 
  .bx-viewport { }
  .bx-pager { position:absolute; bottom:50px; left:0; right:0; font-size:0; }
  .bx-pager-item { display:inline-block; margin:0 10px;  
    a { overflow:hidden; display:block; width:10px; height:10px; border-radius:100%; background-color:#fff; background-color:rgba(255,255,255,.5); transition:all .5s ease-in-out; text-indent:-999em; vertical-align:top; 
      &.active { background-color:$blue; }
    }
  }
  @media (max-width:$tablet-size) {
    .bx-pager { bottom:25px; }
    .bx-pager-item { margin:0 5px; 
      width:7px; height:7px; 
    }
  }
}


.js-main-mini-slide-item {
  .main-section__tit2:not(:optional) { opacity:0; }
  .main-section__para2:not(:optional) { opacity:0; }
  .main-section__btn-group:not(:optional) { opacity:0; }
  &.is-active { 
    .main-section__tit2 { animation:main-mini-slide-headline 1.5s ease-out forwards; }
    @at-root {
      @keyframes main-mini-slide-headline {
        0% { opacity:0; }
        100% { opacity:1; }
      }
    }
    .main-section__para2 { animation:main-mini-slide-summary .5s ease-out .1s forwards;
      @at-root {
        @keyframes main-mini-slide-summary {
          0% { opacity:0; transform:translateY(1em); }
          100% { opacity:1; transform:translateY(0); }
        }
      }
    }
    .main-section__btn-group { animation:main-mini-slide-btn .5s ease-out .3s forwards;
      @at-root {
        @keyframes main-mini-slide-btn {
          0% { opacity:0; }
          100% { opacity:1; }
        }
      }
    }
  }
  @media (max-width:$tablet-size) {
    padding-left:14vw; padding-right:14vw; box-sizing:border-box;
  }
}


.main {
  .wrapper { height:auto; display:block; }
  .wrapper__row { display:block; }
  .site-footer { position:absolute; bottom:0; left:0; right:0;}
  
  #fp-nav { position:fixed; z-index:300; top:50%; right:47px; font-family:$font-en;
    ul { margin:0; padding:0; list-style:none; 
      li { position:relative; margin:20px 0;
        a { display:block; 
          span { display:block; width:10px; height:10px; border-radius:100%; background-color:#fff; background-color:rgba(255,255,255,.5); transition:all .5s ease-in-out;
            @at-root .fp-viewing-1#{&} { background-color:#dfdfdf; }
          }
          &.active span { background-color:$blue; }
        }
        .fp-tooltip { display:none; position:absolute; right:30px; top:50%; margin-top:-17px; padding:0 30px; line-height:35px; border-radius:35px; background-color:#1c5cb0; white-space:nowrap; color:#e5e5e5; font-size:16px; }
        a.active+.fp-tooltip { display:block; transition:opacity .2s ease-in; }
      }
    }
  }
  @media (max-width:$tablet-size) {
    .site-header { height:0; }
  }
}

.js-section { box-sizing:border-box; position:relative; }
.fp-slides { z-index:1; height:100%; overflow:hidden; position:relative; transition:all 0.3s ease-out; }
.fp-slide { float:left; height: 100%; display: block;}
.fp-slidesContainer { float:left; display:block; position:relative; height:100%; }
.fp-section.fp-table, 
.fp-slide.fp-table { display:table; table-layout:fixed; width:100%; }
.fp-tableCell { display:table; table-layout:fixed; vertical-align:middle; width:100%; height:100%; }


.fp-viewing-0:not(.media-mobile) { 
  .site-header { background-color:rgba(0,0,0,0.5); 
    &.is-over { background-color:#fff; }
  }
  .site-gnb__link { color:#fff; }
  .util-menu__link { color:#fff; }
  .site-header.is-over { 
    .site-gnb__link { color:$black-tit; 
      &:hover { color:$blue; }
    }
    .util-menu__link { color:$gray; }
  }
}
.fp-viewing-0.media-mobile { 
  .mobile-header { background-color:rgba(0,0,0,0.5);}
  .mobile-button-open__bread { border-color:#fff; 
    &:before,
    &:after { border-color:#fff; }
  }
}